
<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>WHO ARE WE ?</h1>
            </div>
        </div>
    </div>
</section>

<section id="about-mid1"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="row text-center bk-color-sky pad-top4 min-h650">            
                        <h1>THE IDEA</h1>
                        <img src="/assets/whoarewe/icon-idea.png">
                        <h3>Appreciado believes in thoughtfully, growing, heartfelt connections! Appreciado is a mobile platform that will revolutionize how dental practices interact with patients. We believe in connecting, rewarding + growing.</h3>
                </div>        
            </div>     
            <div class="col-sm-6">                
                <div class="row text-center bk-color-blue-green pad-top4 min-h650">            
                        <h1>THE TEAM</h1>
                        <img src="/assets/whoarewe/icon-team.png">
                        <h3>We are a collective of mom's and dad's who care about making the world a better place through technology and increasing the amount of gratitude on the planet.</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-mid2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1><i class="fa fa-twitter"></i><a href="#"><u>#STANDFORAPPRECIATION</u></a></h1>
            </div>
        </div>
    </div>
</section>

<section id="about-mid3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
               
            </div>
        </div>
    </div>
</section>

<section id="about-mid4">
    <div class="bk-color-gray">
        <div class="container">                
            <div class="row text-center pad-top1">
                <div class="col-sm-12">
                    <h1>TESTIMONIALS</h1>
                </div>
            </div>
            <div class="row text-center pad-top2 pad-bot1">
                <div class="col-md-3">
                    <img alt="Cory Liss" src="/assets/whoarewe/Dr-Cory.jpg" class="img-circle" />
                    <h4>Dr. Cory Liss</h4>
                </div>
                <div class="col-md-3">
                    <img alt="Nadia Nizam" src="/assets/whoarewe/Dr-Nadia.jpg" class="img-circle" />
                    <h4>Dr. Nadia Nizam</h4>
                </div>
                <div class="col-md-3">
                    <img alt="Glenn Chan" src="/assets/whoarewe/Dr-Glenn.jpg" class="img-circle" />
                    <h4>Dr. Glenn Chan</h4>
                </div>
                <div class="col-md-3">
                    <img alt="Mite Giuffre" src="/assets/whoarewe/Dr-Mite.jpg" class="img-circle" />
                    <h4>Dr. Mite Giuffre</h4>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center btn3-mar btn-pad">
                <button type="button" class="btn-pink wow fadeInLeft">"HOW IT WORKS"<br>VIDEO</button>
                <button type="button" class="btn-blue">PURCHASE<br>APPRECIADO</button>
                <button type="button" class="btn-green">CONNECT<br>WITH US</button>
            </div>
        </div>
    </div>    
</section>
