
<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>THE IDEA</h1>
            </div>
        </div>
    </div>
</section>

<section id="about-mid1"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="row bk-color-gray-white pad-top4 min-h650">            
                        <h1 class="text-center">RESOURCES</h1>
                        <div class="col-sm-12">
                            <ul>


<li><a href="https://www.youtube.com/watch?v=oHv6vTKD6lg">https://www.youtube.com/watch?v=oHv6vTKD6lg</a></li>

<li><a href="https://www.ted.com/talks/david_steindl_rast_want_to_be_happy_be_grateful?language=en">https://www.ted.com/talks/david_steindl_rast_want_to_be_happy_be_grateful?language=en</a></li>

<li><a href="https://hbr.org/2012/01/why-appreciation-matters-so-mu.html">https://hbr.org/2012/01/why-appreciation-matters-so-mu.html</a></li>

<li><a href="http://www.health.harvard.edu/newsletter_article/in-praise-of-gratitude">http://www.health.harvard.edu/newsletter_article/in-praise-of-gratitude</a></li>

<li><a href="http://www.forbes.com/sites/amymorin/2014/11/23/7-scientifically-proven-benefits-of-gratitude-that-will-motivate-you-to-give-thanks-year-round/">http://www.forbes.com/sites/amymorin/2014/11/23/7-scientifically-proven-benefits-of-gratitude-that-will-motivate-you-to-give-thanks-year-round/</a></li>

<li><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3010965/">http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3010965/</a></li>

<li><a href="https://www.emergenetics.com/blog/workplace-appreciation-gratitude/">https://www.emergenetics.com/blog/workplace-appreciation-gratitude/</a></li>

<li><a href="http://foster.uw.edu/wp-content/uploads/2015/04/gratitude-relationship-marketing.pdf">http://foster.uw.edu/wp-content/uploads/2015/04/gratitude-relationship-marketing.pdf</a></li>

<li><a href="http://www.noellenelson.com/Book_The_Power_of_Appreciation_in_Business.cfm">http://www.noellenelson.com/Book_The_Power_of_Appreciation_in_Business.cfm</a></li>

<li><a href="https://www.heartmath.org/research/research-library/abstracts/effects-of-different-emotional-states/">https://www.heartmath.org/research/research-library/abstracts/effects-of-different-emotional-states/</a></li>


                                
                            </ul>
                        </div>
                        
                </div>        
            </div>     
            
        </div>
    </div>
</section>

