<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>THE TEAM</h1>
            </div>
        </div>
    </div>
</section>

<section id="team-about">
    <div class="container pad-bot4">
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-4 col-lg-3 pr-ul hidden-xs hidden-sm">
                <ul class="list-unstyled in-table">
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                </ul>
                <img src="/assets/whoarewe/Team-Adam.jpg" alt="Adam Joyce" class="img-circle">
            </div>
            <div class="col-xs-12 pr-ul text-center hidden-md hidden-lg">
                <img src="/assets/whoarewe/Team-Adam.jpg" alt="Adam Joyce" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1>Adam Joyce</h1>
                <p>Adam has had accomplishments across technology, financial and manufacturing disciplines. Leveraging his business acumen, he is now leading the building of a unique software venture called Appreciado. Adam is responsible for the success of the organization; its people, the culture and customer satisfaction. He is accountable for the financial health, relationships that make a difference and the corporate performance. Adam focuses the team to ensure clear communications which increase productivity and profits.</p>
                <div class="collapse" id="collapseAdamJoyce">  
                    <p>Some of the companies Adam has had success in include; Heart and Stroke Foundation of Alberta, ATB Financial, Podium Ventures, Urthecast, Slyce and Brokerlink. His best work in life has always included people and building great teams to deliver remarkable results. He is most proud of being a dad, volunteering and turning around community organizations like The Association for Corporate Growth and the Calgary and Airdrie District Soccer Association. Adam enjoys being a father of 4, company builder and empowering great teams to achieve great results.</p>
                </div>
                <a data-toggle="collapse" href="#collapseAdamJoyce" aria-expanded="false" aria-controls="collapseAdamJoyce">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-xs-12 pl-ul text-center hidden-md hidden-lg">
                <img src="/assets/whoarewe/Team-Priya.jpg" alt="Priya Denton" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1 class="text-right">Priya Denton</h1>
                <p>Priya excels in execution. She brings over 20+ years of experience in managing technology projects and teams of multi-disciplined professionals to deliver extraordinary results. She brings the unique ability to see the big picture and yet be able to break it down into tangible actionable elements. Priya brings an engineering and software development background along with extensive business and management experience through her roles at major consulting firms – IBM, Accenture and CGI.</p>
                <div class="collapse" id="collapsePriyaDenton">  
                    <p>She brings industry background in healthcare, banking, oil and gas and telecommunications working for clients such as Cenovus, Encana, Alberta Health Services, Bell Mobility, CP Rail among others.</p>
                    <p>Outside of work, Priya enjoys spending time with family in sports and outdoor activities in the Canadian Rockies.</p> 
                </div>
                <a data-toggle="collapse" href="#collapsePriyaDenton" aria-expanded="false" aria-controls="collapsePriyaDenton">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-md-4 col-lg-3 pl-ul hidden-xs hidden-sm">
                <img src="/assets/whoarewe/Team-Priya.jpg" alt="Priya Denton" class="img-circle">
                <ul class="list-unstyled in-table">
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                </ul>                
            </div>
            <div class="col-lg-1"></div>
        </div>
        <!--<div class="row text-justify">-->
            <!--<div class="col-lg-1"></div>-->
            <!--<div class="col-md-4 col-lg-3 pr-ul">-->
                <!--<ul class="list-unstyled in-table">-->
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                <!--</ul>-->
                <!--<img src="/assets/whoarewe/Team-Ryan.jpg" alt="Ryan Jennings" class="img-circle">-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-md-8 col-lg-7">&ndash;&gt;-->
                <!--&lt;!&ndash;<h1>Ryan Jennings</h1>&ndash;&gt;-->
                <!--&lt;!&ndash;<p>"Ryan received his Bachelor of Commerce, with first class honors in Finance at Queen’s University School of Business. He then moved to Belgium where he graduated with an International Studies Diploma in International Finance and Law from UCL. After 10 years in corporate finance, Ryan now creates financial plans for high income professionals, high or ultra-net worth families, and business owners who are too busy creating their own wealth to manage it effectively.</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="collapse" id="collapseRyanJennings">  &ndash;&gt;-->
                    <!--&lt;!&ndash;<p>His financial planning practice has allowed Ryan to spend more time on community building, a passion he was unable to fulfill when in corporate finance. Since starting the practice, Ryan has engaged the next generation of community leaders as Chair of BeCause, a United Way of Calgary &amp; Area initiative, and mentored aspiring entrepreneurs via the Canadian Business Youth Foundation. Currently, Ryan is Vice President of the Calgary Alzheimer’s Society Board of Directors.</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p>Ryan sincerely believes the best investment he can make, is in building solid relationships with clients and his community."</p>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<a data-toggle="collapse" href="#collapseRyanJennings" aria-expanded="false" aria-controls="collapseRyanJennings">&ndash;&gt;-->
                  <!--&lt;!&ndash;<img src="/assets/plus-red.png" alt="Plus"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="col-lg-1"></div>-->
        <!--</div>-->
        <!-- <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-4 col-lg-3 pr-ul">
                <ul class="list-unstyled in-table">
                    <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                </ul>
                <img src="/assets/whoarewe/Team-Heather.jpg" alt="Heather Shaw" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1>Heather Shaw</h1>
                <p>Heather Shaw is Appreciado’s VP of the Customer Experience, she has always enjoyed the challenge, thrill and satisfaction of creating exceptional client/patient experiences. With over 25 years of demonstrated results and leadership in the dental and orthodontic field she knows how to create Wow! She has done it by melding sociological concepts, fresh graphic design, advanced communication technologies and leading edge media channels to help set a new standard for dental marketing, engagement and referrals streams.</p>
                <div class="collapse" id="collapseHeatherShaw">  
                    <p>Throughout her dental career Heather has managed laboratory staff and marketing staff, She’s been instrumental in practice management, strategic planning, forecasting, budgeting and leadership training. These skills have helped AntoszOrthodontics grow from a business with 6 employees to a leader in the field with 24 employees and interacting with upwards of 120 patients daily.</p> 
                    <p>She has had the opportunity to speak and share her experiences and expertise from Calgary to Dallas, Orlando and more. Heather continues to champion the idea that the creation of exceptional and intuitive client experiences creates and grows exceptional businesses.</p> 
                    <p>And when not creating exceptional client experiences she can be found hugging her kids or on the pitch trying to keep a clean sheet.</p>
                </div>
                <a data-toggle="collapse" href="#collapseHeatherShaw" aria-expanded="false" aria-controls="collapseHeatherShaw">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-lg-1"></div>
        </div> -->
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-4 col-lg-3 pr-ul hidden-xs hidden-sm">
                <ul class="list-unstyled in-table">
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                </ul>
                <img src="/assets/whoarewe/Team-Maya.jpg" alt="Maya Corona" class="img-circle">
            </div>
            <div class="col-xs-12 pr-ul text-center hidden-md hidden-lg">
                <img src="/assets/whoarewe/Team-Maya.jpg" alt="Maya Corona" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1>Maya Corona</h1>
                <p>As a future TED talk speaker, Maya’s goal is to look for ways we can make a difference and to recognize others for what they’ve accomplished. She has worked with progressive brands like Calvin Klein and the Swatch Group and relishes diving into the creative process, exploring what works and what doesn’t.</p>
                <p>She believes that the clearer you are about the values, principles and passions in your organization, the easier you will connect with your target market.</p>
                <div class="collapse" id="collapseMayaCorona">
                    <p>That kind of clarity helps you to develop the most effective marketing message. Pair that message with compelling visuals and an engaging online presence, and you’ve created a brand experience second to none.</p>
                </div>
                <a data-toggle="collapse" href="#collapseMayaCorona" aria-expanded="false" aria-controls="collapseMayaCorona">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-xs-12 text-center pl-ul hidden-md hidden-lg">
                <img src="/assets/whoarewe/Team-Cameron.jpg" alt="Cameron Falkenhagen" class="img-circle">                
            </div>
            <div class="col-md-8 col-lg-7">
                <h1 class="text-right">Cameron Falkenhagen</h1>
                <p>Cameron is a classically-trained engineer with 9 years experience working as a full-stack and mobile developer. He is passionate about code, believing that software needs to be built faster, cheaper *and* with increasing quality in order to meet the demands and challenges of the near future. He sees that we’re only going to need more and more code as civilization connects in a million ways that didn’t exist a decade ago, and that requires careful consideration of how we build, not just what we build.</p>                
                <div class="collapse" id="collapseCameronFalkenhagen">  
                   <p>As an occasional instructor for SAIT’s web developer program, he enjoys helping young talent develop a love of code. When he is not writing code, or teaching others to write code, Cameron volunteers with TEDxCalgary, engaging the community in conversation around ideas that matter."</p> 
                </div>
                <a data-toggle="collapse" href="#collapseCameronFalkenhagen" aria-expanded="false" aria-controls="collapseCameronFalkenhagen">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-md-4 col-lg-3 pl-ul hidden-xs hidden-sm">
                <img src="/assets/whoarewe/Team-Cameron.jpg" alt="Cameron Falkenhagen" class="img-circle">
                <ul class="list-unstyled in-table">
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                </ul>                
            </div>
            <div class="col-lg-1"></div>
        </div>
        
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-4 col-lg-3 pr-ul hidden-xs hidden-sm">
                <ul class="list-unstyled in-table">
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                </ul>
                <img src="/assets/whoarewe/Team-David.jpg" alt="David Schmeikal" class="img-circle">
            </div>
            <div class="col-xs-12 pr-ul text-center hidden-md hidden-lg">
                <img src="/assets/whoarewe/Team-David.jpg" alt="David Schmeikal" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1>David Schmeikal</h1>
                <p>David’s whole life has been a series of attempts to stand out and be noticed. His medium of choice was pencil to paper + technology. He loves to explore what it takes to be different and stand out from a crowd.</p>
                <p>David brings 10 years in the creative industry to the table and understands that it’s not where you’ve been but where you’re going that makes for an epic story. He get’s lit up with what reveals itself when you explore how an organization aspires to challenge the status quo while at the same time connecting with others in a way that leaves a positive impact in the world.</p>
                <div class="collapse" id="collapseDavidSchmeikal"> 
                    <p>David has a soft spot for the startup and believes there is something special that happens when like minded people come together, creating something from nothing with the intention to change what isn’t working, go against the grain and be a bit disruptive in the process.</p>  
                </div>
                <a data-toggle="collapse" href="#collapseDavidSchmeikal" aria-expanded="false" aria-controls="collapseDavidSchmeikal">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-xs-12 pl-ul text-center hidden-md hidden-lg">
                <img src="/assets/whoarewe/Team-Marc.jpg" alt="Marc Wachmann" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1 class="text-right">Marc Wachmann</h1>
                <p>Marc has been working in the mobile industry for over 20 years and has had a broad background from optical research in telecom, building an optical connector factory in Tijuana, Mexico, technology transfers in Brazil, the introduction of GSM to the NA market and leading Teams in world firsts in the mobile space.</p>
                <p>Over the years, he has been CTO of several leading-edge companies before deciding to form his own company comprised of the best-of-the-best he’s met during his career.</p>             
                <div class="collapse" id="collapseMarcWachmann">  
                    <p>He’s always enjoyed a challenge. GROW Wireless was initially formed to satisfy that passion. “We started by solving issues in mobile application development that were deemed impossible either due to technology deficiencies or business and market restrictions. Over the years, the team has evolved providing end-to-end solutions helping our clients grow, to capitalize on the amazing opportunities that today’s mobile and SaaS market offer.”</p>
                    <p>When he’s not actively working on all things wireless, he spends time with his camera exploring the world around him and creating culinary delights."</p>
                </div>
                <a data-toggle="collapse" href="#collapseMarcWachmann" aria-expanded="false" aria-controls="collapseMarcWachmann">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-md-4 col-lg-3 pl-ul hidden-xs hidden-sm">
                <img src="/assets/whoarewe/Team-Marc.jpg" alt="Marc Wachmann" class="img-circle">
                <ul class="list-unstyled in-table">
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                </ul>                
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-4 col-lg-3 pr-ul hidden-xs hidden-sm">
                <ul class="list-unstyled in-table">
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                </ul>
                <img src="/assets/whoarewe/Team-Jason.jpg" alt="Jason Schwab" class="img-circle">
            </div>
            <div class="col-xs-12 pr-ul text-center hidden-md hidden-lg">
                <img src="/assets/whoarewe/Team-Jason.jpg" alt="Jason Schwab" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1>Jason Schwab</h1>
                <p>Jason Schwab is a lead server architect and one of our original Team members. He is a 13 year veteran skilled in a broad range of technologies to create, refine and support server applications that drive mobile and web applications.</p><p>Jason has had lead on a number of notable projects at GROW Wireless. He architected the back end for the AboveBorder mobile app, which automatically logs and analyzes daily location information for tax compliance for international travelers.</p>                               
                <div class="collapse" id="collapseJasonSchwab">
                    <p>It had dual personalities in that it could operate standalone or tie into existing SAP deployments. He also led an exploratory project for a large multinational geomatics company in which he designed the game logic and analytics for a massively multiplayer location-based game that made use of Points of Interest, dynamic and political geofences and automated data validation as part of the game play.</p>   
                    <p>Jason is an integral part of the GROW Wireless legacy application improvement and migration team, supporting existing code bases and improving our client’s products to integrating new technologies and bringing new levels of reliability, security and economical scale. A notable example was the complete overhaul and redeployment of the server application for the “momentum” mobile app started by Redwood Technologies and later purchased by Wmode.</p>
                    <p>Prior to working with GROW Wireless, Jason was a lead contributor to a robust location application platform that was used to power location-based games, mobile navigation apps and mobile marketing services such as NA’s first GPS enabled game on a cellphone Swordfish and the world’s first real-time, massively multiplayer location-based game PhoneTag Elite which was a semifinalist in the 2008 NAVTEQ Global LBS Challenge in Las Vegas and many others.</p>
                    <p>When Jason is not developing, he can be found playing computer games and helping run one of Calgary’s largest online communities."</p> 
                </div>
                <a data-toggle="collapse" href="#collapseJasonSchwab" aria-expanded="false" aria-controls="collapseJasonSchwab">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-xs-12 pl-ul text-center hidden-md hidden-lg">
                <img src="/assets/whoarewe/Team-Anton.jpg" alt="Anton Gankovsky" class="img-circle">               
            </div>
            <div class="col-md-8 col-lg-7">
                <h1 class="text-right">Anton Gankovsky</h1>
                <p>Anton is our one of our senior mobile developers specializing in Android and Blackberry. He is a 12-year veteran of web and mobile application development.</p>
                <p>He designs and extends technologies for great user experience in mobile applications. He has a keen understanding of server technologies as well giving him the full picture of what it takes to create slick, trouble free mobile apps.</p> 
                <p>Anton’s specialty is connected applications that users intuitively know how to navigate and feel like the wireless networks they are working on are perfect.</p>             
                <div class="collapse" id="collapseAntonGankovsky">  
                    <p>At GROW Wireless, Anton has designed and built everything from games to mission critical enterprise applications. He is also a key member of our legacy application improvement and migration team with proven skills in cross platform and backwards compatibility challenges.</p>
                    <p>Prior to working at GROW Wireless, Anton has worked as a Senior Android and Blackberry developer for a number of companies, and helped design and build multiple commercial mobile applications such as “Above Border” for Above Border, “momentem” for Redwood Technologies, Trapster for Reach Unlimited, “VerifyPro” and an Android SDK library for EvidencePix.</p>
                    <p>In 2010 Anton won 1st place in the BlackBerry DevCon Developers Challenge after finishing second in the 2009 Challenge.</p>
                    <p>When Anton is not engaged in work on projects, he is continually delving into learning new things."</p>
                </div>
                <a data-toggle="collapse" href="#collapseAntonGankovsky" aria-expanded="false" aria-controls="collapseAntonGankovsky">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-md-4 col-lg-3 pl-ul hidden-xs hidden-sm">
                <img src="/assets/whoarewe/Team-Anton.jpg" alt="Anton Gankovsky" class="img-circle">
                <ul class="list-unstyled in-table">
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                </ul>                
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-4 col-lg-3 pr-ul hidden-xs hidden-sm">
                <ul class="list-unstyled in-table">
                    <!--<li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>-->
                    <!--<li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>-->
                </ul>
                <img src="/assets/whoarewe/Team-Connor.jpg" alt="Connor Turner" class="img-circle">
            </div>
            <div class="col-xs-12 text-center pr-ul hidden-md hidden-lg">
                <img src="/assets/whoarewe/Team-Connor.jpg" alt="Connor Turner" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1>Connor Turner</h1>
                <p>Connor brings with him over 10 years experience within the web design and start-up industry. Connor joined us as our UX Designer, front-end developer, WordPress guru, and social media expert.</p> 
                <p>Through his freelance design agency Armadillo Studios Inc, Connor has worked with clients on a variety of projects in Calgary, Vancouver, Ottawa, Toronto, Chicago, Washington D.C. and Austin, TX. He has also been featured as an online expert for Metro Calgary, Global Calgary, CBC Alberta and was a speaker at SXSW 2010.</p>               
                <div class="collapse" id="collapseConnorTurner">  
                    <p>Connor has worked with a variety of businesses, non-profits, community organizations and political campaigns. Connor is also known as the founder of yycApps, the creator of The AlbertaTweets Project, one of the co-organizers of WordCamp Calgary 2014 and the founder of the Calgary ProBono Lounge.</p>
                    <p>When Connor is not working on projects, you can find him enjoying all things music."</p> 
                </div>
                <a data-toggle="collapse" href="#collapseConnorTurner" aria-expanded="false" aria-controls="collapseConnorTurner">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-lg-1"></div>
        </div>
        
        
        <!-- <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-8 col-lg-7">
                <h1 class="text-right">Jon Ouellette</h1>
                <p>"Jon Ouellette is a senior executive who believes in exceptional employee engagement as the method to bottom line performance. He has a rare ability to create and lead teams to embrace change and powerfully deliver on a vision. Jon understands specific implications of managing private, public and family owned businesses from personal experience and from providing executive coaching.</p>
                <div class="collapse" id="collapseJonOuellette">  
                    <p>Jon has over 30 years of experience in leading dynamic organizations, including the largest Canadian owned Insurance Brokerage, and has been involved with oil and gas engineering, tourism, financial services, retail, technology development, real estate and non-profit sectors."</p>
                </div>
                <a data-toggle="collapse" href="#collapseJonOuellette" aria-expanded="false" aria-controls="collapseJonOuellette">
                  <img src="/assets/plus-red.png" alt="Plus"></a>
            </div>
            <div class="col-md-4 col-lg-3 pl-ul">
                <img src="/assets/whoarewe/Team-Jon.jpg" alt="Jon Ouellette" class="img-circle">
                <ul class="list-unstyled in-table">
                    <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                </ul>                
            </div>
            <div class="col-lg-1"></div>
        </div> -->
    </div>
</section>