
<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>THE TEAM</h1>
            </div>
        </div>
    </div>
</section>

<section id="team-about">
    <div class="container pad-bot4">
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-4 col-lg-3 pr-ul">
                <ul class="list-unstyled in-table">
                    <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                </ul>
                <img src="/assets/whoarewe/Team-Adam.jpg" alt="Adam Joyce" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1>Adam Joyce</h1>
                <p>Direct trade freegan organic 90's, chia food truck keffiyeh cornhole Kickstarter shabby chic Vice vinyl Shoreditch try-hard swag. PBR tote bag gastropub yr, art party cardigan crucifix chambray Helvetica. Chillwave cronut XOXO art party beard, 90's fap locavore. PBR&amp;B occupy Truffaut you probably haven't heard of them, cold-pressed jean shorts keffiyeh Wes Anderson art party narwhal fashion axe authentic wayfarers chillwave. Leggings PBR slow-carb. umaml vinyl tattooed heirloom irony whatever narwhal cronut squid mbctape blog hella.</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-8 col-lg-7">
                <h1 class="text-right">Priya Denton</h1>
                <p>Direct trade freegan organic 90's. chia food truck keffiyeh cornhole Kickstarter shabby Chic Vice vinyl Shoreditch try-hard swag. PBR tote hag gastropub yr. art party cardigan crucifix chambray Helvetica. Chillwave cronut XOXO art party beard, 90's fap locavore. PBRSIB occupy Truffaut you probably haven't heard of them, cold-pressed jean shorts keffiyeh Wes Anderson art party narwhal fashion axe authentic wayfarers chillwave. Leggings PBR slow-carb. umami vinyl tattooed heirloom irony whatever narwhal cronut squid mixtape blog hells.</p>
            </div>
            <div class="col-md-4 col-lg-3 pl-ul">
                <img src="/assets/whoarewe/Team-Priya.jpg" alt="Priya Denton" class="img-circle">
                <ul class="list-unstyled in-table">
                    <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                </ul>                
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-4 col-lg-3 pr-ul">
                <ul class="list-unstyled in-table">
                    <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                </ul>
                <img src="/assets/whoarewe/Team-Heather.jpg" alt="Heather Shaw" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1>Heather Shaw</h1>
                <p>I've been spending time with other peoples teeth for over 25yrs. From building appliances in an ortho lab to treatment coordination, scheduling, practice management, marketing and patient communication services. After that long I think I've seen it all and am convinced that dentistry is a wonderfully unique business. It melds progressive dental and orthodontic technology, the art of the practitioner and the science of sociology. And when all three converge patients achieve a beautiful healthy smile and an exceptional level of service.</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-8 col-lg-7">
                <h1 class="text-right">Maya Corona</h1>
                <p>Direct trade freegan organic 90's, chia food trt ck keffiyeh cornhole Kickstarter shabby chic Vice vinyl Shoreditch try-hard swag. PBR tote bag gastropub yr, art party cardigan crucifix chambray Helvetica. Chillwave cronut X0X0 art party beard. 90's fap locavore. PBR&amp;B occupy Truffaut you probably havent heard of them, cold-pressed jean shorts keffiyeh Wes Anderson art party narwhal fashion axe authentic wayfarers chillwave. Leggings PBR slow-carb, umami vinyl tattooed heirloom irony whatever narwhal cronut squid mixtape blog hella.</p>
            </div>
            <div class="col-md-4 col-lg-3 pl-ul">
                <img src="/assets/whoarewe/Team-Maya.jpg" alt="Maya Corona" class="img-circle">
                <ul class="list-unstyled in-table">
                    <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                </ul>                
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-1"></div>
            <div class="col-md-4 col-lg-3 pr-ul">
                <ul class="list-unstyled in-table">
                    <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                </ul>
                <img src="/assets/whoarewe/Team-David.jpg" alt="David Schmeikal" class="img-circle">
            </div>
            <div class="col-md-8 col-lg-7">
                <h1>David Schmeikal</h1>
                <p>Direct trade freegan organic 90's, chia food truck keffiyeh cornhole Kickstarter shabby chic Vice vinyl Shoreditch try-hard swag. PBR tote bag gastropub yr, art party cardigan crucifix chambray Helvetica. Chillwave cronut X0X0 art party heard, 90's fap locavore. PBR&amp;B occupy Truffaut You probably haven't heard of them, cold-pressed lean shorts ceffiveh Wes Anderson art party narwhal fashion axe authentic wayfarers chillwave. Leggings PBR slow-carb. umami vinyl tattooed heirloom irony whatever narwhal cronut squid mixtape blog hella.</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
