<section id="demo" class="hidden-xs">
    <div class="container">
        <div class="row">            
            <div class="col-sm-12">
            </div>
        </div>
    </div>
</section>

<!--<section id="demo1" class="hidden-sm hiddem-md hidden-lg">-->
    <!--<div class="container">-->
        <!--<div class="row">            -->
            <!--<div class="col-sm-12">-->
                <!---->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<section id="demo2" class="hidden-sm hiddem-md hidden-lg">
  <div id="demo3" class="container centered-logo">
    <div id="demo4" class="row centered-logo">
      <div class="col-sm-12">

      </div>
    </div>
  </div>
</section>
