<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Coming Soon...<br><br></h1>
            </div>
        </div>
    </div>
</section>
