<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="support-faq" class="pad-top6">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-bot4">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>QUESTIONS? GET THE ANSWERED HERE</h1>
                    </div>
                    <div class="col-lg-6 pad-top1">
                        <div class="input-group form-search">
                          <input type="text" class="form-control" placeholder="e.g. how many clients I can see?">
                          <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-arrow-circle-right fa-2x"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
                <hr>
                <p>What are you coming accross as you use Appreciado?<br>Choose a topic and we'll find you the best answer to your question.</p>
                <h1>POPULAR TOPICS</h1>                
                <div class="row">                    
                    <div class="col-md-3">
                        <a href="#topic1" aria-controls="topic1" role="tab" data-toggle="tab">
                        <div class="thumbnail text-center">
                            <i class="fa fa-heart-o fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>1</h1>                                
                            </div>
                        </div>
                        </a>
                    </div>                    
                    <div class="col-md-3">
                        <a href="#topic2" aria-controls="topic2" role="tab" data-toggle="tab">
                        <div class="thumbnail text-center">
                            <i class="fa fa-codepen fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>2</h1>                                
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#topic3" aria-controls="topic3" role="tab" data-toggle="tab">
                        <div class="thumbnail text-center">
                            <i class="fa fa-cogs fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>3</h1>                                
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#topic4" aria-controls="topic3" role="tab" data-toggle="tab">
                        <div class="thumbnail text-center">
                            <i class="fa fa-flask fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>4</h1>                                
                            </div>
                        </div>
                        </a>
                    </div>
                </div>                               
            </div>
        </div>
    </div>
</section>

<section id="support-faq-tab" class="bk-color-sky">
    <div class="container">
        <div class="row pad-top2 pad-bot4">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="topic1">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-11">
                        <h1 class="pad-bot1"><i class="fa fa-heart-o"></i> TOPIC 1</h1>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">                    
                    
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h6 class="panel-title">
        <i class="indicator fa fa-angle-double-right"></i>
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>What is the practical difference between 128 GB PCIe-based flash storage and the 256?</strong>
        </a>
      </h6>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h6 class="panel-title">
        <i class="indicator fa fa-angle-double-right"></i>
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <strong>Black Tie Regular icon font - 210 Icons</strong>
        </a>
      </h6>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h6 class="panel-title">
        <i class="indicator fa fa-angle-double-right"></i>
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
         <strong>Print this page to PDF for the complete set of vectors.</strong>
        </a>
      </h6>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h6 class="panel-title">
        <i class="indicator fa fa-angle-double-down"></i>
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>Or to use on the desktop, Install FontAwesome</strong>
        </a>
      </h6>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <h6>I'm sorry. I'm so sorry. I don't want to go. River, you know my name. You whispered my name in my ear! There's only one reason I would ever tell anyone my name. There's only one time I could... I'd call you a genius, except I'm in the room. People assume that time is a strict progression of cause-and-effect... but actually. from a non-linear. non-subjective viewpoint. It's more like a big ball of wibbly-wobbly... timey-wimey... stuff.</h6>
       <h6>Thank you I anoreacieted it <i class="indicator fa fa-thumbs-up"></i> 1980</h6>
      </div>
    </div>
  </div>
</div>

                    </div>
                    <div class="col-lg-3">
<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title"><strong>NOT WHAT YOU WHERE LOOKING FOR?</strong></h6>
    <h6>Write your question below and we will answer it for you!</h6>
  </div>
  <div class="panel-body">
    <div class="row">
     <textarea class="form-control" rows="7" placeholder="e.g. How do I login in to my dashboard?"></textarea>
     <button class="btn pull-right" type="button"><i class="fa fa-paper-plane"></i></button>

     </div>
  </div>
</div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="topic2">
                    
                </div>

                <div role="tabpanel" class="tab-pane fade" id="topic3">
                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="topic4">
                    
                </div>
            </div>
        </div>
    </div>
</section>

<%= content_for :faq_js do %>

<script type="text/javascript">
function toggleChevron(e) {
    $(e.target)
        .prev('.panel-heading')
        .find("i.indicator")
        .toggleClass('fa-angle-double-right fa-angle-double-down');
}
$('#accordion').on('hidden.bs.collapse', toggleChevron);
$('#accordion').on('shown.bs.collapse', toggleChevron);
</script>

<% end %>