<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="support-faq">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-bot4">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>QUESTIONS? GET THE ANSWERED HERE</h1>
                    </div>
                    <div class="col-lg-6 pad-top1">
                        <div class="input-group form-search">
                          <input type="text" class="form-control" placeholder="e.g. how many clients I can see?">
                          <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-arrow-circle-right fa-2x"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
                <hr>
                <p>What are you coming accross as you use Appreciado?<br>Choose a topic and we'll find you the best answer to your question.</p>
                <h1>POPULAR TOPICS</h1>                
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail text-center">
                            <i class="fa fa-heart-o fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>1</h1>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail text-center">
                            <i class="fa fa-codepen fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>2</h1>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail text-center">
                            <i class="fa fa-cogs fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>3</h1>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail text-center">
                            <i class="fa fa-flask fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>4</h1>                                
                            </div>
                        </div>
                    </div>
                </div>                               
            </div>
        </div>
    </div>
</section>