
<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>APPRECIADO SUPPORT</h1>                
            </div>
        </div>
    </div>
</section>

<section id="support-appreciado">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-bot4">
                <h2>YOUR RESERVATION IS CONFIRMED</h2>
                <hr>
                <h3>We will have this information ready for when you call in.</h3>
                <h3>What we will help with:</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                <h3>Your contact information:</h3>
                <h5>Name </h5>
                <h5>Office Number </h5>
                <h5>Email </h5>
                <h3>Case ID</h3>
                <p>12345</p>
                <h3><a href="#"><u>Change Reservation</u></a></h3>
                <h3 class="color-pink"><i class="fa fa-plus-circle"></i> Add Comment</h3>
            </div>
        </div>
    </div>
</section>


