<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="support-faq">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-bot4">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>QUESTIONS? GET THE ANSWERED HERE</h1>
                    </div>
                    <div class="col-lg-6 pad-top1">
                        <div class="input-group form-search">
                          <input type="text" class="form-control" placeholder="e.g. how many clients I can see?">
                          <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-arrow-circle-right fa-2x"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
                <hr>
                <p>What are you coming accross as you use Appreciado?<br>Choose a topic and we'll find you the best answer to your question.</p>
                <h1>POPULAR TOPICS</h1>                
                <div class="row">                    
                    <div class="col-md-3">
                        <a href="#topic1" aria-controls="topic1" role="tab" data-toggle="tab">
                        <div class="thumbnail text-center">
                            <i class="fa fa-heart-o fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>1</h1>                                
                            </div>
                        </div>
                        </a>
                    </div>                    
                    <div class="col-md-3">
                        <a href="#topic2" aria-controls="topic2" role="tab" data-toggle="tab">
                        <div class="thumbnail text-center">
                            <i class="fa fa-codepen fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>2</h1>                                
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#topic3" aria-controls="topic3" role="tab" data-toggle="tab">
                        <div class="thumbnail text-center">
                            <i class="fa fa-cogs fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>3</h1>                                
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#topic4" aria-controls="topic3" role="tab" data-toggle="tab">
                        <div class="thumbnail text-center">
                            <i class="fa fa-flask fa-4x"></i>
                            <div class="caption">
                                <h1>TOPIC<br>4</h1>                                
                            </div>
                        </div>
                        </a>
                    </div>
                </div>                               
            </div>
        </div>
    </div>
</section>

<section id="support-faq-tab" class="bk-color-sky">
    <div class="container">
        <div class="row pad-top2 pad-bot4">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="topic1">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-8">
                    <h1><i class="fa fa-heart-o"></i> TOPIC 1</h1>
                    <form class="form-horizontal">
                        
                        <!-- <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="What is the practical difference between 128 GB PCIe-based flash storage and the 256?" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Black Tie Regular icon font - 210 Icons" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Print this page to PDF for the complete set of vectors." >
                            </div>
                        </div> -->

                    </form>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-1"></div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="topic2">
                    
                </div>

                <div role="tabpanel" class="tab-pane fade" id="topic3">
                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="topic4">
                    
                </div>
            </div>
        </div>
    </div>
</section>