
<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>THANK-YOU FOR<br>PURCHASING APPRECIADO </h1>
            </div>
        </div>
    </div>
</section>

<section id="thankyou-mid1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pad-bot4">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>WHAT YOU CAN EXPECT NEXT</h2>
                    </div>
                </div>
                <hr>
                <p>You can expect a phone call from your dedicated Appreciado setup specialist to walk you through the setup. We will address any questions you might have about the platform and prepare you for a successful launch.</p>
                <p>If you want to get a head start there's keener documents below.</p>
                              
                <div class="row pad-top2">
                    <div class="col-md-4">
                        <div class="thumbnail text-center">
                            <div class="caption">
                                <h1>HELP<br>DOCS</h1>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail text-center">
                            <div class="caption">
                                <h1>CONNECT<br>NOW</h1>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail text-center">
                            <div class="caption">
                                <h1>PREP<br>CHECKLIST</h1>                               
                            </div>
                        </div>
                    </div>                    
                </div>                               
            </div>
        </div>
    </div>
</section>

<section id="thankyou-mid2">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h2>BOUGHT IT. LOVE IT. SHARE IT.</h2>
            </div>
        </div>
        <div class="row pad-top2 pad-bot5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail bk-color-linkedin text-center">
                            <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail bk-color-facebook text-center">
                            <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail bk-color-twitter text-center">
                            <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div> 
    </div>
</section>