<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>SOFTWARE | PEOPLE | REWARDS</h1>
                <p>We are a stand for appreciation</p>
            </div>
            <div class="col-sm-12 text-center btn-mar btn-pad">
        <button type="button" class="btn-pink">"WHAT IT IS"<br>VIDEO</button>
        <button type="button" class="btn-blue">PURCHASE<br>APPRECIADO</button>
            </div>
        </div>
    </div>
</section>

<section id="top-benefits-mid1">
    <div class="container-fluid">
        <div class="row box">
            <div class="col-sm-6 col-md-5 col-lg-4">
                <div class="row">
                    <div class="col-lg-2"></div> 
                    <div class="col-sm-12 col-md-12 col-lg-10 pad-top2">
                        <!-- <a href="/top-benefits-connecting" data-toggle="tooltip" data-placement="right" data-html="true" title="<h3>Fostering caring<br>relationships</h3>" rel="tooltip"><img src="/assets/plus.png" class="mar-top-m9"> -->
                        <a href="/top-benefits-connecting"><img src="/assets/plus.png" class="mar-top-m9">
                        <h1 class="color-white in-block"><strong>CONNECTING</strong><br>SCHEDULING<br>COORDINATOR</h1></a>                        
                    </div>
                </div>
            </div> 

            <div class="col-sm-6 col-md-7 col-lg-8" id="mid1-img1">            
                <div class="row pad-top4">
                    <div id="fostering">                    
                        <div class="col-sm-5 bk-color-sky">                            
                            <h3 class="font-AmsiProR">Fostering caring<br>relationships</h3>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 box">
                <div class="row bk-color-sky pad-bot1">
                    <div class="col-sm-6 in-block text-right z1">
                        <a href="/top-benefits-growing"><img src="/assets/plus.png" class="mar-top-m9">
                    <h1 class="color-white in-block text-left"><strong>GROWING</strong><br>DENTAL<br>PRACTICES</h1></a>
                    </div>
                    <div id="revenue">
                        <div class="col-sm-6 in-block pull-right my-block">
                            <div class="row">
                    <h3 class="font-AmsiProR bk-color-blue-green">Increasing referrals &amp; revenue</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="mid2-img1"></div>
                </div>
            </div>     
            <div class="col-sm-5 box">                
                <div class="row bk-color-green pad-bot1">
                    <div class="col-sm-6 in-block text-right z1">
                        <a href="/top-benefits-rewarding"><img src="/assets/plus.png" class="mar-top-m9">
                        <h1 class="color-white in-block text-left"><strong>REWARDING</strong><br>AMAZING<br>PATIENTS</h1></a>
                    </div>
                    <div id="appreciated">
                        <div class="col-sm-6 in-block pull-right my-block" >
                            <div class="row">
                        <h3 class="font-AmsiProR bk-color-blue-green">Feeling Appreciated</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="mid2-img2"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center btn-mar btn-pad">
                <button type="button" class="btn-pink">"HOW IT WORKS"<br>VIDEO</button>
                <button type="button" class="btn-blue">PURCHASE<br>APPRECIADO</button>
            </div>
        </div>
    </div>    
</section>