<%= content_for :benefits_modal do %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    var url = $("#WhatItIs").attr('src');
    
    $("#myModalWhatItIs").on('hide.bs.modal', function(){
        $("#WhatItIs").attr('src', '');
    });
    
    $("#myModalWhatItIs").on('show.bs.modal', function(){
        $("#WhatItIs").attr('src', url);
    });
});
</script>

<!--
<script type="text/javascript">
$(document).ready(function(){
    
    var url = $("#GrowingHowitworks").attr('src');
    
    $("#myModalGrowingHowitworks").on('hide.bs.modal', function(){
        $("#GrowingHowitworks").attr('src', '');
    });
    
    $("#myModalGrowingHowitworks").on('show.bs.modal', function(){
        $("#GrowingHowitworks").attr('src', url);
    });
});
</script>


<script type="text/javascript">
$(document).ready(function(){
    var url = $("#HowItWorksBottom").attr('src');
    
    $("#myModalHowItWorksBottom").on('hide.bs.modal', function(){
        $("#HowItWorksBottom").attr('src', '');
    });
    
    $("#myModalHowItWorksBottom").on('show.bs.modal', function(){
        $("#HowItWorksBottom").attr('src', url);
    });
});
</script>
-->
<% end %>

<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="tb-growing-top">
    <div class="container">
        <div class="row">            
            <div class="col-sm-12 text-center pad-top13">
                <a href="#myModalWhatItIs" data-toggle="modal"><span class="fa fa-play-circle-o fa-9x"></span><p>play me</p></a>
            </div>
        </div>
    </div>
</section>

<section id="tb-growing-mid1">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top5">
                <h1>WHAT IS<br>APPRECIADO?</h1>
                <h3>No matter how great the delivery of your dental services is, the taking care of dental patients is an art. Appreciado leverages technology and enhances the human connection. It facilitates business growth through patient engagement.</h3>
            </div>
        </div>
    </div>
</section>
<section id="tb-growing-mid2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="c-caption">
                      <ul class="list-unstyled howitworks-point-dark">
                        <li><i class="fa fa-check-circle-o"></i> Organic growth through referrals</li>
                        <li><i class="fa fa-check-circle-o"></i> Increased loyalty ( increase retention of existing customers)</li>
                        <li><i class="fa fa-check-circle-o"></i> Better experience for admin and front desk staff</li>
                        <li><i class="fa fa-check-circle-o"></i> Less friction</li>
                      </ul>
                    </div>
                </div>

            </div>
            <div class="col-sm-6 bk-color-blue">
                <div class="caption">
                    <h1>HOW DOES IT WORK?</h1>
                  <h3 class="white-font">Appreciado is a software platform that runs on a chrome browser for your office. It is an app that runs on a smartphone for your patients. It enables you to track performance and measure business growth.</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tb-growing-mid3">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top3">
                <h1>"HOW IT WORKS" VIDEO</h1>
                <div class="row text-center modal-sky">
                    <div class="bs-example"> 
                        <a href="#myModal1" data-toggle="modal">
                        <span class="fa fa-play-circle-o fa-9x"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="box">
                <div class="col-md-4 pad-top13" id="grow-mid4-img1">                    
                    <div id="tb-growing-mid4-p1">
                        <img src="/assets/home/dollar.png">
                        <h2 class="font-AmsiProCB shadow-text">LESS<br>CANCELLATIONS</h2>
                    </div> 
                    <div class="row pad-top7" id="move-in-to-place-gr-p1">
                        <h3 class="font-AmsiProCR">Cancellations and no shows are costly.<br>Appreciado helps fill empty chairs.<br>More on time performance.<br>More referrals.</h3>
                    </div>                   
                </div>
            </div>
            <div class="box">
                <div class="col-md-4 pad-top13" id="grow-mid4-img2">                    
                    <div id="tb-growing-mid4-p2">
                        <img src="/assets/home/dollar.png">
                        <h2 class="font-AmsiProCB shadow-text">MORE ON TIME<br>PERFORMANCE</h2>
                    </div> 
                    <div class="row pad-top7" id="move-in-to-place-gr-p2">
                        <h3 class="font-AmsiProCR">Start on time<br>and<br>stay on time<br>with a tool that works.</h3>
                        <!-- <h2 class="font-AmsiProCB">MORE ON TIME<br>PERFORMANCE</h2> -->
                    </div>                   
                </div>
            </div>
            <div class="box">
                <div class="col-md-4 pad-top13" id="grow-mid4-img3">                    
                    <div id="tb-growing-mid4-p2">
                        <img src="/assets/home/dollar.png">
                        <h2 class="font-AmsiProCB shadow-text">MORE<br>REFERRALS</h2>
                    </div> 
                    <div class="row pad-top7" id="move-in-to-place-gr-p2">
                        <h3 class="font-AmsiProCR">Patient referrals are key<br>to your practice's success.<br>Appreciado makes<br>refering easy.</h3>
                        <!-- <h2 class="font-AmsiProCB">MORE<br>REFERRALS</h2> -->
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid hidden">
        <div class="row">
            <div class="col-sm-12 text-center btn3-mar btn-pad">
                <button type="button" class="btn-pink" href="#myModal1" data-toggle="modal">"HOW IT WORKS"<br>VIDEO</button>
                <button type="button" class="btn-blue">PURCHASE<br>APPRECIADO</button>
                <button type="button" class="btn-green" data-toggle="modal" data-target="#myModal">SHARE WITH<br>YOUR STAFF</button>

            </div>
        </div>
    </div>    
</section>

<!-- Modal SHARE WITH YOUR STAFF -->
<div class="modal-green">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close fa-4x" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title" id="myModalLabel">SEND A TEXT MESSAGE TO YOUR STAFF</h1>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>NAME *</h3></div>
                    <div class="col-md-4 pad-top1">
                        <input type="text" class="form-control" placeholder="eg. Mary Mitchelle" required>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>NUMBER</h3></div>
                    <div class="col-md-4 pad-top1">
                        <input type="text" class="form-control"  placeholder="eg. 403-403-403">
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>MESSAGE *</h3></div>
                    <div class="col-md-4 pad-top1">
                        <textarea class="form-control" id="inputPassword" rows="6" placeholder="eg. Hello Mary! Have you heard about Appreciado, It's an amzing app that really appreciate us as a customers. Go to appstore and download Appreciado." required></textarea>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5 text-right pad-top4 pad-bot2">
                        <button type="submit" class="btn-white"><h3>SUBMIT</h3></button>
                    </div>
                </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
</div>

    <!--What It Is Video Top -->
    <div class="text-center modal-sky pad-top2 pad-bot1">
        <div class="bs-example">                         
            <div id="myModalWhatItIs" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2 class="modal-title">DENTIST</h2>
                        </div>
                        <div class="modal-body">
                            
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_1nmnzoogiz videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- How It Works Video Bottom -->
    <!-- <div class="text-center modal-sky">
        <div class="bs-example">                         
            <div id="myModalHowItWorksBottom" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2 class="modal-title">How It Works</h2>
                        </div>
                        <div class="modal-body">
                            <iframe id="MiteGiuffre" width="560" height="315" src="https://www.youtube.com/embed/Nci9e1lHtwY" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!-- Modal HOW IT WORKS -->
<div class="modal-sky">
    <div class="modal" id="myModal1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
              <div class="col-sm-4">
                <h1>TELL US ABOUT YOU<br>YOUR PRACTICE</h1>
              </div>
              <div class="col-sm-4">
                <h1 class="modal-title text-center">STEP 1 OF 3</h1>
              </div>
            </div><div class="container"></div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="text-right col-md-4 pad-top1"><h4>TITLE:</h4></div>
                        <div class="col-md-6 text-left">
                            <div class="row">
                           <label class="checkbox-inline">
                              <h4>DOCTOR <input type="radio" name="optionRadiosinline" id="optionRadios1" 
                                 value="DOCTOR" checked></h4>
                           </label>
                           <label class="checkbox-inline">
                              <h4>ASSISTANT <input type="radio" name="optionRadiosinline" id="optionRadios2" 
                                 value="ASSISTANT"> </h4>
                           </label>
                           </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>FIRST NAME:</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>LAST NAME:</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>OFFICE NUMBER:</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>EMAIL:</h4></div>
                        <div class="col-md-6">
                            <input type="email" class="form-control">
                        </div>
                    </div>                        
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>WHY ARE<br>YOU HERE?</h4></div>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>                        
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7 text-center pad-top1">
                            <!-- <button type="submit" class="btn-white" data-toggle="modal" data-target="#myModal2"><span>CONTINUE</span></button> -->
                                <a id="first_link" data-toggle="modal" href="#myModal2" class="btn-white">CONTINUE</a>
                        </div>
                    </div>
                </form>

            </div>
            
          </div>
        </div>
    </div>
    <div class="modal" id="myModal2" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
              <div class="col-sm-4">
                <h1>JUST A FEW<br>MORE QUESTIONS</h1>
              </div>
              <div class="col-sm-4">
                <h1 class="modal-title text-center">STEP 2 OF 3</h1>
              </div>                              
            </div><div class="container"></div>
            <div class="modal-body">
                <form class="form-horizontal">                                    
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>NAME OF OFFICE </h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4># OF DOCTORS</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4># OF STAFF</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>CURRENT PMS</h4></div>
                        <div class="col-md-6">
                            <input type="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>TYPE OF PRACTICE</h4></div>
                        <div class="col-md-6">
                            <input type="email" class="form-control">
                        </div>
                    </div>                        
                                            
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7 text-center pad-top1">
                            <!-- <button type="submit" class="btn-white" data-toggle="modal" data-target="#myModal2"><span>CONTINUE</span></button> -->
                                <a id="second_link" data-toggle="modal" href="#myModal3" class="btn-white">CONTINUE</a>
                        </div>
                    </div>
                </form>
            </div>
            
          </div>
        </div>
    </div>

    <div class="modal" id="myModal3" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
              <h1 class="modal-title text-center">STEP 3 OF 3</h1>
            </div><div class="container"></div>
            <div class="modal-body text-center">
                <form class="form-horizontal">                                    
                    <div class="form-group">
                        <iframe id="MiteGiuffre" width="560" height="315" src="https://www.youtube.com/embed/Nci9e1lHtwY" frameborder="0" allowfullscreen></iframe>
                    </div>                    
                    <div class="form-group">
                        <div class="col-md-12 text-center pad-top1">
                            <button type="submit" class="btn-white"><span>PURCHASE</span></button>
                            <button type="submit" class="btn-white"><span>HAVE QUESTIONS?</span></button>
                        </div>
                    </div>
                </form>
            </div>                            
          </div>
        </div>
    </div>

</div>


<%= content_for :modal_js do %>
<script type="text/javascript">
$('#first_link').click(function(){
    $('#myModal1').modal('hide');
});
</script>

<script type="text/javascript">
$('#second_link').click(function(){
    $('#myModal2').modal('hide');
});
</script>
<% end %>