<%= content_for :benefits_modal do %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    
    var url = $("#ConnectHowitworks").attr('src');
    
    $("#myModalConnectHowitworks").on('hide.bs.modal', function(){
        $("#ConnectHowitworks").attr('src', '');
    });
    
    $("#myModalConnectHowitworks").on('show.bs.modal', function(){
        $("#ConnectHowitworks").attr('src', url);
    });
});
</script>
<% end %> 

<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>CONNECTING YOU WITH<br>YOUR PATIENTS</h1>
            </div>
            <div class="col-sm-12 text-center pad-top2 pad-bot4">
        <button type="button" class="btn-pink">"WHAT IT IS"<br>VIDEO</button>
            </div>
        </div>
    </div>
</section>

<section id="tb-connecting-mid1">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top5">
                <h1>WHAT IS<br>APPRECIADO?</h1>
                <h3>No matter how advanced the technology in dentistry becomes, the receiving of dental care is a fundamentally human process. Appreciado is the human connection through technology. It is a facilitator of person to person healing and caring connection.</h3>
            </div>
        </div>
    </div>
</section>

<section id="tb-connecting-mid2">
    <div class="container-fluid">
        <div class="row">       
            <div class="col-sm-6">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="c-caption">
                    <h3>Appreciado is a software platform that runs on a chrome browser for your office. It is a app that runs on a smartphone for your patients.<br>It enables you to foster connections and provide a smooth and rewarding patient experience.</h3>
                    </div>
                </div>
                
            </div>     
            <div class="col-sm-6 bk-color-blue">                
                <div class="caption">
                    <h1>HOW DOES<br>IT WORK?</h1>
                </div>                
            </div>
        </div>
    </div>
</section>

<section id="tb-connecting-mid3">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top3">
                <h1>"HOW IT WORKS" VIDEO</h1>
                <div class="row text-center modal-sky pad-top2 pad-bot1">
                    <div class="bs-example"> 
                        <a href="#myModalConnectHowitworks" data-toggle="modal">
                        <span class="fa fa-play-circle-o fa-9x"></span></a>
                        
                        <div id="myModalConnectHowitworks" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h2 class="modal-title">HOW IT WORKS</h2>
                                    </div>
                                    <div class="modal-body">
                                        <iframe id="CoryLiss" width="560" height="315" src="//www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row text-center">            
            <div class="box">
                <div class="col-md-4  pad-top13" id="connect-mid4-img1">                    
                    <div id="tb-connecting-mid4-p1">
                        <img src="/assets/plus.png">                                                 
                        <h2 class="font-AmsiProCB">LESS SCREEN TIME,<br>MORE FACE TIME</h2>
                    </div> 
                    <div class="row" id="move-in-to-place-p1">
                        <h3 class="font-AmsiProCR">Getting better control<br>of the schedule.<br>Increasing valuable time<br>with patients.</h3>
                        <h2 class="font-AmsiProCB">LESS SCREEN TIME,<br>MORE FACE TIME</h2>
                    </div>                   
                </div>
            </div>  
            <div class="box">                
                <div class="col-md-4 pad-top13" id="connect-mid4-img2">
                    <div id="tb-connecting-mid4-p2">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB">CREATING AND SHARING<br>STORIES WITH PATIENTS </h2>
                    </div>
                    <div class="row" id="move-in-to-place-p2">
                        <h3 class="font-AmsiProCR">Increased opportunities<br>to understand,<br>get related and<br>build relationships.</h3>
                        <h2 class="font-AmsiProCB">CREATING AND SHARING<br>STORIES WITH PATIENTS </h2>
                    </div>
                </div>                
            </div>
            <div class="box"> 
                <div class="col-md-4 pad-top13" id="connect-mid4-img3">
                    <div id="tb-connecting-mid4-p3">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB">SMOOTH AND EASY FOR<br>YOU AND YOUR PATIENTS</h2>
                    </div>
                    <div class="row" id="move-in-to-place-p3">
                        <h3 class="font-AmsiProCR">Surprise and delight<br>your patients with easy<br>and exceptional<br>interactions.</h3>
                        <h2 class="font-AmsiProCB">SMOOTH AND EASY FOR<br>YOU AND YOUR PATIENTS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center btn3-mar btn-pad">
                <button type="button" class="btn-pink" data-toggle="modal" data-target="#myModal1">"HOW IT WORKS"<br>VIDEO</button>
                <button type="button" class="btn-blue">PURCHASE<br>APPRECIADO</button>
                <button type="button" class="btn-green">SHARE WITH<br>A DOCTOR</button>

                <!-- Modal SHARE WITH YOUR STAFF -->
                <div class="modal-sky">
                    <div class="modal" id="myModal1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
                              <div class="col-sm-4">
                                <h1>TELL US ABOUT YOU<br>YOUR PRACTICE</h1>
                              </div>
                              <div class="col-sm-4">
                                <h1 class="modal-title">STEP 1 OF 4</h1>
                              </div>
                            </div><div class="container"></div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="text-right col-md-4 pad-top1"><h4>TITLE:</h4></div>
                                        <div class="col-md-6 text-left">
                                            <div class="row">
                                           <label class="checkbox-inline">
                                              <h4>DOCTOR <input type="radio" name="optionRadiosinline" id="optionRadios1" 
                                                 value="DOCTOR" checked></h4>
                                           </label>
                                           <label class="checkbox-inline">
                                              <h4>ASSISTANT <input type="radio" name="optionRadiosinline" id="optionRadios2" 
                                                 value="ASSISTANT"> </h4>
                                           </label>
                                           </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4>FIRST NAME:</h4></div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4>LAST NAME:</h4></div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4>OFFICE NUMBER:</h4></div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4>EMAIL:</h4></div>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>                        
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4>WHY ARE<br>YOU HERE?</h4></div>
                                        <div class="col-md-6">
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>                        
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-7 text-center pad-top1">
                                            <!-- <button type="submit" class="btn-white" data-toggle="modal" data-target="#myModal2"><span>CONTINUE</span></button> -->
                                                <a id="first_link" data-toggle="modal" href="#myModal2" class="btn-white">CONTINUE</a>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            
                          </div>
                        </div>
                    </div>
                    <div class="modal" id="myModal2" data-backdrop="static">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
                              <div class="col-sm-4">
                                <h1>JUST A FEW<br>MORE QUESTIONS</h1>
                              </div>
                              <div class="col-sm-4">
                                <h1 class="modal-title">STEP 2 OF 3</h1>
                              </div>                              
                            </div><div class="container"></div>
                            <div class="modal-body">
                                <form class="form-horizontal">                                    
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4>NAME OF OFFICE </h4></div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4># OF DOCTORS</h4></div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4># OF STAFF</h4></div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4>CURRENT PMS</h4></div>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-right col-md-4"><h4>TYPE OF PRACTICE</h4></div>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>                        
                                                            
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-7 text-center pad-top1">
                                            <!-- <button type="submit" class="btn-white" data-toggle="modal" data-target="#myModal2"><span>CONTINUE</span></button> -->
                                                <a id="second_link" data-toggle="modal" href="#myModal3" class="btn-white">CONTINUE</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                          </div>
                        </div>
                    </div>

                    <div class="modal" id="myModal3" data-backdrop="static">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
                              <h1 class="modal-title">STEP 3 OF 3</h1>
                            </div><div class="container"></div>
                            <div class="modal-body">
                                <form class="form-horizontal">                                    
                                    <div class="form-group">
                                        <iframe id="MiteGiuffre" width="560" height="315" src="https://www.youtube.com/embed/Nci9e1lHtwY" frameborder="0" allowfullscreen></iframe>
                                    </div>                    
                                    <div class="form-group">
                                        <div class="col-md-12 text-center pad-top1">
                                            <button type="submit" class="btn-white"><span>PURCHASE</span></button>
                                            <button type="submit" class="btn-white"><span>HAVE QUESTIONS?</span></button>
                                        </div>
                                    </div>
                                </form>
                            </div>                            
                          </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>    
</section>

<script type="text/javascript">
$('#first_link').click(function(){
    $('#myModal1').modal('hide');
});

</script>

<script type="text/javascript">
$('#second_link').click(function(){
    $('#myModal2').modal('hide');
});

</script>