
<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>YOU ARE LOOKING TO<br>GROW YOUR PRACTICE</h1>
            </div>
            <div class="col-sm-12 text-center pad-top2 pad-bot4">
        <button type="button" class="btn-pink wow fadeInLeft">"WHAT IT IS"<br>VIDEO</button>
            </div>
        </div>
    </div>
</section>

<section id="tb-growing-mid1">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top5">
                <h1>WHAT IS<br>APPRECIADO?</h1>
                <h3>No matter how advanced the technology in dentistry becomes, the receiving of dental care is a fundamentally human process. Appreciado leverages technology and enchances the human connection. It facilitates business growth through patient engagement.</h3>
            </div>
        </div>
    </div>
</section>

<section id="tb-growing-mid2">
    <div class="container-fluid">
        <div class="row">       
            <div class="col-sm-6">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="c-caption">
                    <h3>Appreciado is a software platform that runs on a chrome browser for your office. It is a app that runs on a smartphone for your patients. It enables you to track performance and measure business growth.</h3>
                    </div>
                </div>
                
            </div>     
            <div class="col-sm-6 bk-color-blue">                
                <div class="caption">
                    <h1>HOW DOES<br>IT WORK?</h1>
                </div>                
            </div>
        </div>
    </div>
</section>

<section id="tb-growing-mid3">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top3">
                <h1>"HOW IT WORKS" VIDEO</h1>
                <i class="fa fa-play-circle-o fa-8x"></i>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row text-center">       
            <div class="col-md-4 pad-top13" id="grow-mid4-img1">
                <img src="/assets/home/dollar.png">
                <h3>LESS<br>CANCELLATIONS</h3>
            </div>
            <div class="col-md-4 pad-top13" id="grow-mid4-img2">
                <img src="/assets/home/dollar.png">
                <h3>MORE ON TIME<br>PERFORMANCE</h3>
            </div>
            <div class="col-md-4 pad-top13" id="grow-mid4-img3">
                <img src="/assets/home/dollar.png">
                <h3>MORE<br>REFERRALS</h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center btn3-mar btn-pad">
                <button type="button" class="btn-pink wow fadeInLeft">"HOW IT WORKS"<br>VIDEO</button>
                <button type="button" class="btn-blue">PURCHASE<br>APPRECIADO</button>
                <button type="button" class="btn-green">SHARE WITH<br>YOUR STAFF</button>
            </div>
        </div>
    </div>    
</section>
