<%= content_for :benefits_modal do %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--
<script type="text/javascript">
$(document).ready(function(){
    var url = $("#WhatItIs").attr('src');
    
    $("#myModalWhatItIs").on('hide.bs.modal', function(){
        $("#WhatItIs").attr('src', '');
    });
    
    $("#myModalWhatItIs").on('show.bs.modal', function(){
        $("#WhatItIs").attr('src', url);
    });
});
</script>


<script type="text/javascript">
$(document).ready(function(){
    
    var url = $("#RewardHowitworks").attr('src');
    
    $("#myModalRewardHowitworks").on('hide.bs.modal', function(){
        $("#RewardHowitworks").attr('src', '');
    });
    
    $("#myModalRewardHowitworks").on('show.bs.modal', function(){
        $("#RewardHowitworks").attr('src', url);
    });
});
</script>
-->
<% end %>

<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<!-- <section id="tb-rewarding-top">
    <div class="container">
        <div class="row">            
            <div class="col-sm-12 text-center pad-top13">
        <a href="#"> <span class="fa fa-play-circle-o fa-9x"></span><p>play me</p></a>
            </div>
        </div>
    </div>
</section> -->
<div class="vid_size">
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_1nmnzoogiz videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
</div>

<section id="tb-rewarding-mid1">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top5">
                <h1>WHAT IS<br>APPRECIADO?</h1>
                <h3>No matter how great you think your dental service is, the taking care of you as a patient is an art. Appreciado is the human connection through technology. It is a facilitator of person to person healing and caring connection.</h3>
            </div>
        </div>
    </div>
</section>

<section id="tb-rewarding-mid2">
    <div class="container-fluid">
        <div class="row">       
            <div class="col-sm-6">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="c-caption">
                      <ul class="list-unstyled howitworks-point-dark">
                        <li><i class="fa fa-check-circle-o"></i> Notification reminders right to your smartphone</li>
                        <li><i class="fa fa-check-circle-o"></i> Easily add appointments to your calendar</li>
                        <li><i class="fa fa-check-circle-o"></i> One touch call to reschedule</li>
                        <li><i class="fa fa-check-circle-o"></i> Make a referral to your friends &amp; family in the moment</li>
                        <li><i class="fa fa-check-circle-o"></i> Get Visa rewards for taking action</li>
                      </ul>
                   </div>
                </div>
                
            </div>     
            <div class="col-sm-6 bk-color-sky">                
                <div class="caption">
                    <h1>HOW DOES IT WORK?</h1>
                  <h3 class="white-font">Appreciado is a free app that runs on your smartphone.<br>It empowers you to enjoy a rewarding patient experience.</h3>
                </div>                
            </div>
        </div>
    </div>
</section>

<section id="tb-rewarding-mid3 hidden">
    <div class="container-fluid hidden">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top3">
                <h1>"HOW IT WORKS" VIDEO</h1>
                <div class="row text-center modal-sky">
                    <div class="bs-example"> 
                        <a href="#myModal1" data-toggle="modal">
                        <span class="fa fa-play-circle-o fa-9x"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="box">
                <div class="col-md-4 pad-top13" id="reward-mid4-img1">                   
                    <div id="tb-rewarding-mid4-p1">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB shadow-text">GET<br>EMPOWERED</h2>
                    </div> 
                    <div class="row pad-top8" id="move-in-to-place-rd-p1">
                        <h3 class="font-AmsiProCR">Schedules, phone numbers, rewards<br>are all now easily managed<br>on your smart phone.<br>Get Appreciated.
                        </h3>
                    </div>                   
                </div>
            </div>
            <div class="box">
                <div class="col-md-4 pad-top13" id="reward-mid4-img2">                  
                    <div id="tb-rewarding-mid4-p2">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB shadow-text">GET<br>APPRECIATED</h2>
                    </div> 
                    <div class="row pad-top8" id="move-in-to-place-rd-p2">
                        <h3 class="font-AmsiProCR">You keep everyone on time,<br>you refer friends,<br>you give great feedback,<br>Now get appreciated for it.</h3>
                        <!-- <h2 class="font-AmsiProCB">GET<br>APPRECIATED</h2> -->
                    </div>                   
                </div>
            </div>
            <div class="box">
                <div class="col-md-4 pad-top13" id="reward-mid4-img3">                   
                    <div id="tb-rewarding-mid4-p3">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB shadow-text">GET<br>REWARDED</h2>
                    </div> 
                    <div class="row pad-top8" id="move-in-to-place-rd-p3">
                        <h3 class="font-AmsiProCR">A thank-you feels<br>good and a Visa<br>gift card is<br>rewarding.</h3>
                        <!-- <h2 class="font-AmsiProCB">GET<br>REWARDED</h2> -->
                    </div>                   
                </div>
            </div> 
            
        </div>
    </div>
</section>

<section>
    <div class="container-fluid hidden">
        <div class="row">
            <div class="col-sm-12 text-center btn3-marg btn-pad">
                <button type="button" class="btn-pink" data-toggle="modal" data-target="#myModalmom">"SHARE WITH"<br>ANOTHER MOM</button>
                <button type="button" class="btn-green">DOWNLOAD<br>THE APP</button>
                <button type="button" class="btn-blue" data-toggle="modal" data-target="#myModaldoc">"SHARE WITH"<br>MY DOCTOR</button>
            </div>
        </div>
    </div>    
</section>

<!-- Modal SHARE WITH ANOTHER MOM -->
<div class="modal-purple">
    <div class="modal fade" id="myModalmom" tabindex="-1" role="dialog" aria-labelledby="myModalLabelmom">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close fa-4x" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title text-center" id="myModalLabelmom">SHARE WITH ANOTHER MOM YOU APPRECIATE</h1>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>NAME *</h3></div>
                    <div class="col-md-4 pad-top1">
                        <input type="text" class="form-control" placeholder="eg. Mary Mitchelle" required>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>EMAIL</h3></div>
                    <div class="col-md-4 pad-top1">
                        <input type="email" class="form-control" placeholder="eg. mary@her-email.com">
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>NUMBER</h3></div>
                    <div class="col-md-4 pad-top1">
                        <input type="text" class="form-control"  placeholder="eg. 403-403-403">
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>MESSAGE *</h3></div>
                    <div class="col-md-4 pad-top1">
                        <textarea class="form-control" id="inputPassword" rows="6" placeholder="eg. Hello Mary! Have you heard about Appreciado, It's an amzing app that really appreciate us as a customers. Go to appstore and download Appreciado." required></textarea>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5 text-right pad-top3">
                        <button type="submit" class="btn-white"><h3>SUBMIT</h3></button>
                    </div>
                </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
</div>

<!-- Modal SHARE WITH MY DOCTOR -->
<div class="modal-blue">
    <div class="modal fade" id="myModaldoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabeldoc">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close fa-4x" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1 class="modal-title text-center" id="myModalLabeldoc">SHARE WITH MY DOCTOR</h1>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>DR. NAME*</h3></div>
                    <div class="col-md-4 pad-top1">
                        <input type="text" class="form-control" placeholder="Dr. Smiles" required>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>CLINIC NAME*</h3></div>
                    <div class="col-md-4 pad-top1">
                        <input type="text" class="form-control" placeholder="Smiling Dental" required>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>YOUR NAME*</h3></div>
                    <div class="col-md-4 pad-top1">
                        <input type="text" class="form-control" placeholder="Mary Jane" required>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group">
                    <div class="text-right col-md-4"><h3>YOUR EMAIL*</h3></div>
                    <div class="col-md-4 pad-top1">
                        <input type="email" class="form-control" placeholder="ie: mary@youremail.com" required>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5 text-right pad-top8 pad-bot5">
                        <button type="submit" class="btn-white"><h3>SUBMIT</h3></button>
                    </div>
                </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
</div>

<!-- Modal HOW IT WORKS -->
<div class="modal-sky">
    <div class="modal" id="myModal1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
              <div class="col-sm-4">
                <h1>TELL US ABOUT YOU<br>YOUR PRACTICE</h1>
              </div>
              <div class="col-sm-4">
                <h1 class="modal-title text-center">STEP 1 OF 3</h1>
              </div>
            </div><div class="container"></div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="text-right col-md-4 pad-top1"><h4>TITLE:</h4></div>
                        <div class="col-md-6 text-left">
                            <div class="row">
                           <label class="checkbox-inline">
                              <h4>DOCTOR <input type="radio" name="optionRadiosinline" id="optionRadios1" 
                                 value="DOCTOR" checked></h4>
                           </label>
                           <label class="checkbox-inline">
                              <h4>ASSISTANT <input type="radio" name="optionRadiosinline" id="optionRadios2" 
                                 value="ASSISTANT"> </h4>
                           </label>
                           </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>FIRST NAME:</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>LAST NAME:</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>OFFICE NUMBER:</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>EMAIL:</h4></div>
                        <div class="col-md-6">
                            <input type="email" class="form-control">
                        </div>
                    </div>                        
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>WHY ARE<br>YOU HERE?</h4></div>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>                        
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7 text-center pad-top1">
                            <!-- <button type="submit" class="btn-white" data-toggle="modal" data-target="#myModal2"><span>CONTINUE</span></button> -->
                                <a id="first_link" data-toggle="modal" href="#myModal2" class="btn-white">CONTINUE</a>
                        </div>
                    </div>
                </form>

            </div>
            
          </div>
        </div>
    </div>
    <div class="modal" id="myModal2" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
              <div class="col-sm-4">
                <h1>JUST A FEW<br>MORE QUESTIONS</h1>
              </div>
              <div class="col-sm-4">
                <h1 class="modal-title text-center">STEP 2 OF 3</h1>
              </div>                              
            </div><div class="container"></div>
            <div class="modal-body">
                <form class="form-horizontal">                                    
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>NAME OF OFFICE </h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4># OF DOCTORS</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4># OF STAFF</h4></div>
                        <div class="col-md-6">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>CURRENT PMS</h4></div>
                        <div class="col-md-6">
                            <input type="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h4>TYPE OF PRACTICE</h4></div>
                        <div class="col-md-6">
                            <input type="email" class="form-control">
                        </div>
                    </div>                        
                                            
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7 text-center pad-top1">
                            <!-- <button type="submit" class="btn-white" data-toggle="modal" data-target="#myModal2"><span>CONTINUE</span></button> -->
                                <a id="second_link" data-toggle="modal" href="#myModal3" class="btn-white">CONTINUE</a>
                        </div>
                    </div>
                </form>
            </div>
            
          </div>
        </div>
    </div>

    <div class="modal" id="myModal3" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close fa-4x" data-dismiss="modal" aria-hidden="true">×</button>
              <h1 class="modal-title text-center">STEP 3 OF 3</h1>
            </div><div class="container"></div>
            <div class="modal-body text-center">
                <form class="form-horizontal">                                    
                    <div class="form-group">
                        <iframe id="MiteGiuffre" width="560" height="315" src="https://www.youtube.com/embed/Nci9e1lHtwY" frameborder="0" allowfullscreen></iframe>
                    </div>                    
                    <div class="form-group">
                        <div class="col-md-12 text-center pad-top1">
                            <button type="submit" class="btn-white"><span>PURCHASE</span></button>
                            <button type="submit" class="btn-white"><span>HAVE QUESTIONS?</span></button>
                        </div>
                    </div>
                </form>
            </div>                            
          </div>
        </div>
    </div>

</div>


<%= content_for :modal_js do %>
<script type="text/javascript">
$('#first_link').click(function(){
    $('#myModal1').modal('hide');
});
</script>

<script type="text/javascript">
$('#second_link').click(function(){
    $('#myModal2').modal('hide');
});
</script>
<% end %>
