<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>CONNECTING YOU WITH<br>YOUR PATIENTS</h1>
            </div>
            <div class="col-sm-12 text-center pad-top2 pad-bot4">
        <button type="button" class="btn-pink wow fadeInLeft">"WHAT IT IS"<br>VIDEO</button>
            </div>
        </div>
    </div>
</section>

<section id="tb-connecting-mid1">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top5">
                <h1>WHAT IS<br>APPRECIADO?</h1>
                <h3>No matter how advanced the technology in dentistry becomes, the receiving of dental care is a fundamentally human process. Appreciado is the human connection through technology. It is a facilitator of person to person healing and caring connection.</h3>
            </div>
        </div>
    </div>
</section>

<section id="tb-connecting-mid2">
    <div class="container-fluid">
        <div class="row">       
            <div class="col-sm-6">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="c-caption">
                    <h3>Appreciado is a software platform that runs on a chrome browser for your office. It is a app that runs on a smartphone for your patients.<br>It enables you to foster connections and provide a smooth and rewarding patient experience.</h3>
                    </div>
                </div>
                
            </div>     
            <div class="col-sm-6 bk-color-blue">                
                <div class="caption">
                    <h1>HOW DOES<br>IT WORK?</h1>
                </div>                
            </div>
        </div>
    </div>
</section>

<section id="tb-connecting-mid3">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top3">
                <h1>"HOW IT WORKS" VIDEO</h1>
                <span class="fa fa-play-circle-o fa-9x"></span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row text-center">            
            <div class="box">
                <div class="col-md-4  pad-top13" id="connect-mid4-img1">                    
                    <div id="tb-connecting-mid4-p1">
                        <img src="/assets/plus.png">                                                 
                        <h2 class="font-AmsiProCB">LESS SCREEN TIME,<br>MORE FACE TIME</h2>
                    </div> 
                    <div class="row" id="move-in-to-place-p1">
                        <h3 class="font-AmsiProCR">Getting better control<br>of the schedule.<br>Increasing valuable time<br>with patients.</h3>
                        <h2 class="font-AmsiProCB">LESS SCREEN TIME,<br>MORE FACE TIME</h2>
                    </div>                   
                </div>
            </div>  
            <div class="box">                
                <div class="col-md-4 pad-top13" id="connect-mid4-img2">
                    <div id="tb-connecting-mid4-p2">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB">CREATING AND SHARING<br>STORIES WITH PATIENTS </h2>
                    </div>
                    <div class="row" id="move-in-to-place-p2">
                        <h3 class="font-AmsiProCR">Increased opportunities<br>to understand,<br>get related and<br>build relationships.</h3>
                        <h2 class="font-AmsiProCB">CREATING AND SHARING<br>STORIES WITH PATIENTS </h2>
                    </div>
                </div>                
            </div>
            <div class="box"> 
                <div class="col-md-4 pad-top13" id="connect-mid4-img3">
                    <div id="tb-connecting-mid4-p3">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB">SMOOTH AND EASY FOR<br>YOU AND YOUR PATIENTS</h2>
                    </div>
                    <div class="row" id="move-in-to-place-p3">
                        <h3 class="font-AmsiProCR">Surprise and delight<br>your patients with easy<br>and exceptional<br>interactions.</h3>
                        <h2 class="font-AmsiProCB">SMOOTH AND EASY FOR<br>YOU AND YOUR PATIENTS</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center btn3-mar btn-pad">
                <button type="button" class="btn-pink wow fadeInLeft">"HOW IT WORKS"<br>VIDEO</button>
                <button type="button" class="btn-blue">PURCHASE<br>APPRECIADO</button>
                <button type="button" class="btn-green">SHARE WITH<br>A DOCTOR</button>
            </div>
        </div>
    </div>    
</section>
