<%= content_for :benefits_modal do %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    
    var url = $("#RewardHowitworks").attr('src');
    
    $("#myModalRewardHowitworks").on('hide.bs.modal', function(){
        $("#RewardHowitworks").attr('src', '');
    });
    
    $("#myModalRewardHowitworks").on('show.bs.modal', function(){
        $("#RewardHowitworks").attr('src', url);
    });
});
</script>
<% end %>

<%= content_for :index_body do %>id="home" class="homepage"<% end %>    

<section id="top-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>YOUR TIME IS VALUABLE</h1>
            </div>
            <div class="col-sm-12 text-center pad-top2 pad-bot4">
        <button type="button" class="btn-pink">"WHAT IT IS"<br>VIDEO</button>
            </div>
        </div>
    </div>
</section>

<section id="tb-rewarding-mid1">
    <div class="container">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top5">
                <h1>WHAT IS<br>APPRECIADO?</h1>
                <h3>No matter how advanced the technology becomes, receiving care is a fundamentally human process. Appreciado is the human connection through technology. It is a facilitator of person to person healing and caring connection.</h3>
            </div>
        </div>
    </div>
</section>

<section id="tb-rewarding-mid2">
    <div class="container-fluid">
        <div class="row">       
            <div class="col-sm-6">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="c-caption">
                    <h3>Appreciado is a free app that runs on your smartphone.<br>It empowers you to enjoy a rewarding patient experience.</h3>
                    </div>
                </div>
                
            </div>     
            <div class="col-sm-6 bk-color-sky">                
                <div class="caption">
                    <h1>HOW DOES<br>IT WORK?</h1>
                </div>                
            </div>
        </div>
    </div>
</section>

<section id="tb-rewarding-mid3">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-12 text-center pad-top3">
                <h1>"HOW IT WORKS" VIDEO</h1>
                <div class="row text-center modal-sky pad-top2 pad-bot1">
                    <div class="bs-example"> 
                        <a href="#myModalRewardHowitworks" data-toggle="modal">
                        <span class="fa fa-play-circle-o fa-9x"></span></a>
                        
                        <div id="myModalRewardHowitworks" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">HOW IT WORKS</h4>
                                    </div>
                                    <div class="modal-body">
                                        <iframe id="CoryLiss" width="560" height="315" src="//www.youtube.com/embed/YE7VzlLtp-4" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="box">
                <div class="col-md-4 pad-top13" id="reward-mid4-img1">                   
                    <div id="tb-rewarding-mid4-p1">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB">GET<br>EMPOWERED</h2>
                    </div> 
                    <div class="row" id="move-in-to-place-rd-p1">
                        <h3 class="font-AmsiProCR">schedules, phone numbers,<br>rewards points is all<br>now tap managed on<br>your smart phone.</h3>
                        <h2 class="font-AmsiProCB">GET<br>EMPOWERED</h2>
                    </div>                   
                </div>
            </div>
            <div class="box">
                <div class="col-md-4 pad-top13" id="reward-mid4-img2">                  
                    <div id="tb-rewarding-mid4-p2">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB">GET<br>APPRECIATED</h2>
                    </div> 
                    <div class="row" id="move-in-to-place-rd-p2">
                        <h3 class="font-AmsiProCR">You keep everyone on time,<br>you refer friends,<br>you give great feedback.<br>Now get appreciated for it.</h3>
                        <h2 class="font-AmsiProCB">GET<br>APPRECIATED</h2>
                    </div>                   
                </div>
            </div>
            <div class="box">
                <div class="col-md-4 pad-top13" id="reward-mid4-img3">                   
                    <div id="tb-rewarding-mid4-p3">
                        <img src="/assets/plus.png">
                        <h2 class="font-AmsiProCB">GET<br>REWARDED</h2>
                    </div> 
                    <div class="row" id="move-in-to-place-rd-p3">
                        <h3 class="font-AmsiProCR">A thank-you feels<br>good and a visa<br>giftcard is<br>rewarding.</h3>
                        <h2 class="font-AmsiProCB">GET<br>REWARDED</h2>
                    </div>                   
                </div>
            </div> 
            
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center btn3-marg btn-pad">
                <button type="button" class="btn-pink" data-toggle="modal" data-target="#myModalmom">"SHARE WITH"<br>ANOTHER MOM</button>
                <button type="button" class="btn-green">DOWNLOAD<br>THE APP</button>
                <button type="button" class="btn-blue" data-toggle="modal" data-target="#myModaldoc">"SHARE WITH"<br>MY DOCTOR</button>

    <!-- Modal SHARE WITH ANOTHER MOM -->
    <div class="modal-purple">
        <div class="modal fade" id="myModalmom" tabindex="-1" role="dialog" aria-labelledby="myModalLabelmom">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close fa-4x" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabelmom">SHARE WITH ANOTHER MOM YOU APPRECIATE</h1>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="text-right col-md-4"><h3>NAME *</h3></div>
                        <div class="col-md-6 pad-top1">
                            <input type="text" class="form-control" placeholder="eg. Mary Mitchelle" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h3>EMAIL</h3></div>
                        <div class="col-md-6 pad-top1">
                            <input type="email" class="form-control" placeholder="eg. mary@her-email.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h3>NUMBER</h3></div>
                        <div class="col-md-6 pad-top1">
                            <input type="text" class="form-control"  placeholder="eg. 403-403-403">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h3>MESSAGE *</h3></div>
                        <div class="col-md-6 pad-top1">
                            <textarea class="form-control" id="inputPassword" rows="6" placeholder="eg. Hello Mary! Have you heard about Appreciado, It's an amzing app that really appreciate us as a customers. Go to appstore and download Appreciado." required></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7 text-right pad-top1">
                            <button type="submit" class="btn-white"><h3>SUBMIT</h3></button>
                        </div>
                    </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
    </div>

    <!-- Modal SHARE WITH MY DOCTOR -->
    <div class="modal-blue">
        <div class="modal fade" id="myModaldoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabeldoc">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close fa-4x" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" id="myModalLabeldoc">SHARE WITH MY DOCTOR</h1>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="text-right col-md-4"><h3>YOUR NAME*</h3></div>
                        <div class="col-md-6 pad-top1">
                            <input type="text" class="form-control" placeholder="eg. Mary Mitchelle" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h3>DR. NAME*</h3></div>
                        <div class="col-md-6 pad-top1">
                            <input type="text" class="form-control" placeholder="eg. Johon Doe" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h3>OFFICE NAME*</h3></div>
                        <div class="col-md-6 pad-top1">
                            <input type="text" class="form-control" placeholder="eg. Smile Dental" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h3>OFFICE NUMBER*</h3></div>
                        <div class="col-md-6 pad-top1">
                            <input type="text" class="form-control"  placeholder="eg. 403-403-403" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right col-md-4"><h3>OFFICE EMAIL</h3></div>
                        <div class="col-md-6 pad-top1">
                            <input type="email" class="form-control" placeholder="eg. dr.john@smiledental.com">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-7 text-right pad-top1">
                            <button type="submit" class="btn-white"><h3>SUBMIT</h3></button>
                        </div>
                    </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
    </div>

            </div>
        </div>
    </div>    
</section>
