<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @contact.fname %></h1>
    <h2>Welcome to Appreciado,</h2>
    <h3>We have received your issue, we will contact you soon.</h3>
  </body>
</html>