@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
@font-face {font-family: 'AmsiPro-Regular';src: url('/assets/fonts/2E1573_0_0.eot');src: url('/assets/fonts/2E1573_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2E1573_0_0.woff2') format('woff2'),url('/assets/fonts/2E1573_0_0.woff') format('woff'),url('/assets/fonts/2E1573_0_0.ttf') format('truetype');}
@font-face {font-family: 'AmsiPro-Bold';src: url('/assets/fonts/2E1573_1_0.eot');src: url('/assets/fonts/2E1573_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2E1573_1_0.woff2') format('woff2'),url('/assets/fonts/2E1573_1_0.woff') format('woff'),url('/assets/fonts/2E1573_1_0.ttf') format('truetype');}
@font-face {font-family: 'AmsiProCond-Bold';src: url('/assets/fonts/2E1573_2_0.eot');src: url('/assets/fonts/2E1573_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2E1573_2_0.woff2') format('woff2'),url('/assets/fonts/2E1573_2_0.woff') format('woff'),url('/assets/fonts/2E1573_2_0.ttf') format('truetype');}
@font-face {font-family: 'AmsiPro-Italic';src: url('/assets/fonts/2E1573_3_0.eot');src: url('/assets/fonts/2E1573_3_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2E1573_3_0.woff2') format('woff2'),url('/assets/fonts/2E1573_3_0.woff') format('woff'),url('/assets/fonts/2E1573_3_0.ttf') format('truetype');}
@font-face {font-family: 'AmsiProCond-Regular';src: url('/assets/fonts/AmsiProCond-Regular.otf');}

/*************************
*******Typography******
**************************/
body {
  background: #fff;
  font-family: 'AmsiPro-Regular', 'Roboto', sans-serif;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #fff
}

h1 {
  font-family: 'AmsiProCond-Regular', 'Roboto', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'AmsiPro-Regular', 'Roboto', sans-serif;
}

p {
  color: #8F8F95
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be
}
hr {
  border-top: 1px solid #D2007D;
 /* border-bottom: 1px solid #fff;*/
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
******* Header ******
**************************/
#header {
    background-image: url("../assets/bar.jpg");
    background-repeat: repeat;
    min-height: 50px;
    z-index: 99999;
    position: relative;
}
#header .navbar-nav img {
    padding-top: 5px;
    padding-right: 50px;
}
.top-header {
  padding-top: 0.2em;
  padding-right: 10em;
  z-index: 999999;
  position: relative;
}
.top-header a {
  color: #fff;
  font-size: 10px;
}

.top-header .tooltip-inner {
  font-size: 8px;
  font-family: "AmsiPro-Bold";
  background-color: #008A97;
  color: #fff;
}
.top-header .tooltip.top .tooltip-arrow {
    border-top-color: #008A97;
}
.top-header .tooltip.right .tooltip-arrow {
    border-right-color: #008A97;
}
.top-header .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #008A97;
}
.top-header .tooltip.left .tooltip-arrow {
    border-left-color: #008A97;
}

@media screen and (min-width:768px) {
    /*.dropdown:hover .dropdown-menu
    {
        display:block
    }*/
}

@media only screen and (min-width: 768px) {
  .navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 22px 15px 21px;
}
.navbar-nav {
    margin: 0;
    float: none;
    text-align: center;
}
.navbar-nav>li {
    float: none;
}
  .nav>li {
    position: relative;
    display: inline-block;
}
  .navbar-default .navbar-nav>li>a {
    color: #fff;
  }
  #main-menu.navbar-default {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #main-menu.navbar-default .navbar-nav > li {
    padding-left: 1em;
    padding-right: 1em
  }

  #main-menu.navbar-default .navbar-nav > li > a {
    font-family: 'AmsiPro-Bold';
    font-size: 12px;
    padding: 10px 0 0 0
  }
  
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 3px;
    border-bottom: 3px solid #144C49;
    color: #fff
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
    z-index: 1001;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    margin-left: -5px;
    padding-top: 10px;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    font-family: 'AmsiPro-Bold';
    font-size: 12px;
    padding: 0;
    color: #777;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    /*border-left-color: #45aed6;*/
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #ACD36A;
    background-color: transparent;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a {
    border-bottom: 3px solid #D2007D;
    display: inline-block;
  }
}

.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}

/***********************
********* Footer ******
************************/
#footer {
  background-image: url("../assets/footer-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  padding-top: 5em;
  padding-bottom: 10px;
  color: #fff;
}

#footer h3 {
  font-family: 'AmsiProCond-Regular';
  color: #fff;
  font-weight: 300
}

#footer a:hover {
  color: #ccc;
  text-decoration: underline
}
#footer ul {
  list-style: none;
  padding: 0
}
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;
}
#footer address p {
  color: #83D0D2;
  font-size: 15px
}
#footer address p > a {
  color: #83D0D2
}
#footer address ul > li > a {
  color: #83D0D2
}
#footer-bot ul > li > a {
  color: #fff;
  font-size: 11px;
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}


/******* DEMO *******/
#demo {
  background-image: url("../assets/demo.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 900px;
}

#demo1 {
  background-image: url("../assets/demo1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 700px;
}

#demo2 {
    background-image: url("../assets/demo.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    min-height: 700px;
}
#demo3 {
    background-image: url("../assets/logo-bg.png");
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    min-height: 700px;
    min-width: 130px;
}
#demo4 {
    background-image: url("../assets/csoon.png");
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    min-height: 700px;
    min-width: 240px;
    top: 78% !important;
    left: 35% !important;
}
.centered-logo{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -50px;
}


/******* TOP PART *******/
#top-top h1 {
  font-size: 56px;
  color: #41A2AE;
  padding: 1em 0 0.2em 0
}

#top-top p {
  font-size: 25px;
}
/******* TOP BENEFITS *******/

#top-benefits-mid1 {
  color: #fff;
  background-image: url("../assets/home/fostering-caring-relationship.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 500px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

#mid1-img1 h3 {
    margin: 10px 0 20px 10px
}

#mid2-img1 {
  background-image: url("../assets/home/dental-practices.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 400px
}

#mid2-img2 {
  background-image: url("../assets/home/amazing-patients.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 400px
}

/*#fostering {
    position: absolute;
    width : 100%;
    opacity:0;
    height:0;
    padding-top: 3em
}

.box:hover #fostering {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}*/

/*#revenue {
    position: absolute;
    width : 100%;
    opacity:0;
    height:0
}

.box:hover #revenue {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}*/

/*#appreciated {
    position: absolute;
    width : 100%;
    opacity:0;
    height:0
}

.box:hover #appreciated {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}*/
#top-benefits-mid1 .dropdown-menu {
  background: transparent;
  border: none;
  box-shadow: none;
  margin-left: -1em;
  top: 0;
  left: 100%;
  width: 100%
}

#revenue .dropdown-menu {
  background: transparent;
  border: none;
  box-shadow: none;
  margin-top: -0.8em;
  margin-left: 7em
}
#revenue .z1 {
  padding-top: 8.3em;
}

#appreciated .dropdown-menu {
  background: transparent;
  border: none;
  box-shadow: none;
  margin-top: -0.8em;
  margin-left: 7em
}
#appreciated .z1 {
  padding-top: 8.3em;
}



/******* Top Benefits Connecting / Schedule coordinators *******/
#tb-connecting-top {
  background-image: url("../assets/home/appreciado-coordinator.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 450px;
  border-bottom: 3px solid #F5FEFE;
}

#tb-connecting-mid1 {
  background-image: url("../assets/home/appreciado-connecting.jpg");
  background-repeat: no-repeat;
  z-index: 999999;
  position: relative;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 400px
}

#tb-connecting-mid3 {
  background-image: url("../assets/home/how-it-works.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 300px  
}

#connect-mid4-img1 {
  background-image: url("../assets/home/time.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 425px 
}
#connect-mid4-img2 {
  background-image: url("../assets/home/stories.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 425px 
}
#connect-mid4-img3 {
  background-image: url("../assets/home/smooth.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 425px 
}

#tb-connecting-top a {
  color: #D2007D;
}
#tb-connecting-top a > p {
  color: #D2007D;
  font-size: 20px;
  font-weight: 600;
}
#tb-connecting-mid1 h1 {
  font-size: 72px
}
#tb-connecting-mid2 h1 {
  font-size: 64px;
  color: #373873;
}
#tb-connecting-mid2 h3 {
  color: #8F8F95;
  line-height: 1.2;
  word-spacing: 0.2em;
  font-size: 26px
}
#tb-connecting-mid2 .caption {
  padding: 10em 0 7em 2em
}
#tb-connecting-mid2 .c-caption {
  padding: 2em 0 1em 0
}
#tb-connecting-mid2 ul {
  font-size: 26px
}
#tb-connecting-mid3 h1 {
  color: #D2007D;
  font-size: 80px
}
#tb-connecting-mid3 .fa-9x {
  color: #D2007D
}
.shadow-text {
    text-shadow: 2px 2px #044E59;
}
#move-in-to-place-p1 {
    position: absolute;
    width : 100%;
    background: rgba(67,68,115,0.7);
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place-p1 {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}
.box:hover #tb-connecting-mid4-p1 {
  display: none;
}

#move-in-to-place-p2 {
    position: absolute;
    width : 100%;
    background: rgba(67,68,115,0.7);
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place-p2 {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}
.box:hover #tb-connecting-mid4-p2 {
  display: none;
}

#move-in-to-place-p3 {
    position: absolute;
    width : 100%;
    background: rgba(67,68,115,0.7);
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place-p3 {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}
.box:hover #tb-connecting-mid4-p3 {
  display: none;
}


/******* Top Benefits Growing / Dentists *******/
#tb-growing-top {
  background-image: url("../assets/home/appreciado-dentist.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 450px;
  border-bottom: 3px solid #F5FEFE;
}

#tb-growing-mid1 {
  background-image: url("../assets/home/dental-practices-grow.jpg");
  background-repeat: no-repeat;
  z-index: 999999;
  position: relative;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 450px
}

#tb-growing-mid3 {
  background-image: url("../assets/home/how-it-works.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 300px  
}

#grow-mid4-img1 {
  background-image: url("../assets/home/cancellations.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 425px 
}
#grow-mid4-img2 {
  background-image: url("../assets/home/performance.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 425px 
}
#grow-mid4-img3 {
  background-image: url("../assets/home/referrals.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 425px 
}
#tb-growing-top a {
  color: #D2007D;
}
#tb-growing-top a > p {
  color: #D2007D;
  font-size: 20px;
  font-weight: 600;
}
#tb-growing-mid1 h1 {
  font-size: 72px
}
#tb-growing-mid2 h1 {
  font-size: 72px
}
#tb-growing-mid2 h3 {
  color: #8F8F95;
  line-height: 1.2;
  word-spacing: 0.2em;
  font-size: 26px
}
#tb-growing-mid2 .caption {
  padding: 3em 0 6em 2em
}
#tb-growing-mid2 .c-caption {
  padding: 2em 0 1em 0
}
#tb-growing-mid3 h1 {
  color: #D2007D;
  font-size: 80px
}
#tb-growing-mid3 .fa-9x {
  color: #D2007D
}

#move-in-to-place-gr-p1 {
    position: absolute;
    width : 100%;
    background: rgba(67,68,115,0.7);
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place-gr-p1 {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}
.box:hover #tb-growing-mid4-p1 {
  display: none;
}

#move-in-to-place-gr-p2 {
    position: absolute;
    width : 100%;
    background: rgba(67,68,115,0.7);
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place-gr-p2 {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}
.box:hover #tb-growing-mid4-p2 {
  display: none;
}

#move-in-to-place-gr-p3 {
    position: absolute;
    width : 100%;
    background: rgba(67,68,115,0.7);
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place-gr-p3 {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}
.box:hover #tb-growing-mid4-p3 {
  display: none;
}

/******* Top Benefits Rewarding / Patients*******/
#tb-rewarding-top {
  background-image: url("../assets/home/appreciado-patient.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 450px;
  border-bottom: 3px solid #F5FEFE;
}

#tb-rewarding-mid1 {
  background-image: url("../assets/home/appreciado-rewarding.jpg");
  background-repeat: no-repeat;
  z-index: 999999;
  position: relative;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 500px
}

#tb-rewarding-mid3 {
  background-image: url("../assets/home/how-it-works-reward.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 300px  
}

#reward-mid4-img1 {
  background-image: url("../assets/home/empowered.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 425px 
}
#reward-mid4-img2 {
  background-image: url("../assets/home/appreciated.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 425px 
}
#reward-mid4-img3 {
  background-image: url("../assets/home/acknowledged.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 425px 
}
#tb-rewarding-top a {
  color: #D2007D;
}
#tb-rewarding-top a > p {
  color: #D2007D;
  font-size: 20px;
  font-weight: 600;
}
#tb-rewarding-mid1 h1 {
  font-size: 72px
}
#tb-rewarding-mid2 h1 {
  font-size: 72px
}
#tb-rewarding-mid2 h3 {
  color: #8F8F95;
  line-height: 1.2;
  word-spacing: 0.2em;
  font-size: 26px
}
#tb-rewarding-mid2 .caption {
  padding: 3em 0 7em 2em
}
#tb-rewarding-mid2 .c-caption {
  padding: 2em 0 1em 0
}
#tb-rewarding-mid3 h1 {
  color: #D2007D;
  font-size: 80px
}
#tb-rewarding-mid3 .fa-9x {
  color: #D2007D;
}

#move-in-to-place-rd-p1 {
    position: absolute;
    width : 100%;
    background: rgba(67,68,115,0.7);
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place-rd-p1 {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}
.box:hover #tb-rewarding-mid4-p1 {
  display: none;
}

#move-in-to-place-rd-p2 {
    position: absolute;
    width : 100%;
    background: rgba(67,68,115,0.7);
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place-rd-p2 {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}
.box:hover #tb-rewarding-mid4-p2 {
  display: none;
}

#move-in-to-place-rd-p3 {
    position: absolute;
    width : 100%;
    background: rgba(67,68,115,0.7);
    opacity:0;
    height:0;
}
.box:hover #move-in-to-place-rd-p3 {
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width:100%;
    height:100%;
    opacity:1
}
.box:hover #tb-rewarding-mid4-p3 {
  display: none;
}

/******** WHO ARE WE ********/

#about-mid1 h1 {
  color: #fff;
  font-weight: 400;
}

#about-mid1 h3 {
  color: #fff;
  font-weight: 400;
  padding: 0 2em 0 3em;
  text-align: left;
  line-height: 1.3;
}
#about-mid2 h1 {
  color: #ACD36A;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 1em 0 0.5em;
}
#about-mid2 h1 > a {
  color: #ACD36A;
}

#about-mid3 {
  background-color: #EBEBEB;
  background-image: url("../assets/whoarewe/helping-u-grow-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 235px;
  /* box-shadow: 0px 3px 3px #888888*/
}

#about-mid4 h1 {
  font-size: 48px;
  font-weight: 400;
  color: #41A2AE;
  padding: 0.2em 0
}

#about-mid3 .dropdown-menu {
  background: transparent;
  border: none;
  box-shadow: none;
  margin: 1.5em 0 0 7em;
  top: 0;
  right: 100%;
}

.help {
  min-height: 14em;
  margin-top: -2em
}

/*#about-mid3 .tooltip-inner {
  max-width: 100%;
  background-color: transparent;
  border-radius: 0;
}

#about-mid3 .tooltip.top .tooltip-arrow {
  border-top-color: transparent;
}

#about-mid3 .tooltip.right .tooltip-arrow {
  border-right-color: transparent;
}

#about-mid3 .tooltip.bottom .tooltip-arrow {
  border-bottom-color: transparent;
}

#about-mid3 .tooltip.left .tooltip-arrow {
  border-left-color: transparent;
}
*/
#about-mid4 h4 {
  color: #777
}



/******** Team ********/
#team-about p {
  font-size: 18px;
  /* display: inline */
}
#team-about .pr-ul ul {
  padding: 10em 3em 0 0;
}
#team-about .pl-ul ul {
  padding: 10em 0 0 3em;
}
#team-about h1 {
  color: #41A2AE;
  font-weight: 400
}
#team-about ul > li > a {
  color: #D2007D
}


/******** SUPPORT ********/
#support-mid1 .thumbnail {
  padding: 20px 4px 4px 4px;
  border-radius: 0;
  color: #41A2AE;
  border: 2px solid #41A2AE;
}
#support-form h4 {
  color: #41A2AE;
  font-size: 20px;
}

#support-mid1 h1 {
  color: #41A2AE;
}
#support-mid1 p {
  color: #8F8F95;
  font-size: 18px
}


/******** Support Appreciado ********/
#support-appreciado h1 {
  color: #41A2AE
}
#support-appreciado h3 {
  color: #41A2AE
}

#support-appreciado a {
  color: #D2007D
}

/******** Support Schedule ********/
#schedule-mid button {
  font-size: 18px
}
.date-picker {
  background: url("../assets/calendar.png") no-repeat center;
  text-align: center;
  padding-top: 6em;
  font-size: 20px;
  border: none;
}
.ui-widget {
    font-family: "AmsiPro-Regular";
  }
.ui-widget-content {
    border: 1px solid rgb(200,200,217);
    background: #373873;
    color: rgb(131,209,211);
}
.ui-widget-header {
    border: none;
    background: transparent;
    color: rgb(131,209,211);
    font-weight: bold; 
}
.ui-widget-header .ui-icon {
    background-color: rgb(131,209,211);
    border-radius: 30%;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: transparent;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding: 1px;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default:hover {
    border-radius: 50%;
    background: rgb(0,137,153);
    padding: 1px;
}
.ui-datepicker td {
    border: 0;
    padding: 5px;
}
#schedule-mid input:hover, 
#schedule-mid input:active, 
#schedule-mid input:focus {
   outline:0px !important;
    -webkit-appearance:none
}

.time-zone {
  padding: 3em 5em 2em 5em
}
.time-schedule {
  text-align: left;
  padding-left: 10em;
}

/******** Support Question  ********/
#support-faq h1, #support-faq h2 {
  color: #41A2AE
}
#support-faq p {
  color: #8F8F95;
  font-size: 18px
}
#support-faq .thumbnail {
  padding: 20px 4px 4px 4px;
  border-radius: 10px;
  color: #41A2AE;
  border: 2px solid #41A2AE
}
#support-faq input {
  margin-left: 3em
}
#support-faq button {
  background-color: transparent
}
#support-faq .btn {
  color: #D2007D;
  border-bottom-width: 0px;
  padding: 3px 8px;
  z-index: 10
}
#support-faq-tab h1 {
  color: #41A2AE
}
#support-faq-tab h6 {
 color: #8F8F95;  
}
#support-faq-tab .panel-title {
  color: #41A2AE;
  font-size: 12px; 
}
#support-faq-tab .panel-body {
  padding: 0 15px;
  border-top-color: transparent;
}
#support-faq-tab .panel {
  border-radius: 15px;
  border: 1px solid #41A2AE;
}
#support-faq-tab .panel-heading {
  background: transparent;
  border-color: #41A2AE; 
}
#support-faq-tab .panel-body textarea {
  font-size: 12px;
  border: none;
  resize: none
}
#support-faq-tab .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#support-faq-tab button {
  background-color: transparent
}
#support-faq-tab .btn {
  color: #D2007D;
}
.form-search {
    position: relative
}

.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:12px;
    left:50px;
    opacity: .5;
    z-index: 1000
}

#support-faq .input-group .form-control {
    padding-left: 2em;
    float: none;
    border-radius: 10px;
    border: 2px solid #41A2AE
}

/******** PRIVACY ********/
#privacy h3 {
  color: #41A2AE;
}

/******** TERMS & CONDITION ********/
#terms h2 {
  color: #8F8F95;
}
#terms h3 {
  color: #41A2AE;
}
#terms h4 {
  color: #8F8F95;
}

/******** THANK YOU ********/

#thankyou-mid1 h1, #thankyou-mid1 h2 {
  color: #41A2AE
}
#thankyou-mid1 p {
  color: #8F8F95;
  font-size: 18px
}
#thankyou-mid1 .thumbnail {
  border: 2px solid #41A2AE;
  border-radius: 0
}
#thankyou-mid2 h1 {
  color: #D2007D
}
#thankyou-mid2 .thumbnail {
  padding: 24px;
  border-radius: 0
}
#thankyou-mid2 .thumbnail a {
  color: #fff
}

/******** General ********/
.pad-top1 {
  padding-top: 1em
}
.pad-top2 {
  padding-top: 2em
}
.pad-top3 {
  padding-top: 3em
}
.pad-top4 {
  padding-top: 4em
}
.pad-top5 {
  padding-top: 5em
}
.pad-top6 {
  padding-top: 6em
}
.pad-top7 {
  padding-top: 7em
}
.pad-top8 {
  padding-top: 8em
}
.pad-top10 {
  padding-top: 10em
}
.pad-top13 {
  padding-top: 13em
}
.pad-bot1 {
  padding-bottom: 1em
}
.pad-bot2 {
  padding-bottom: 2em
}
.pad-bot3 {
  padding-bottom: 3em
}
.pad-bot4 {
  padding-bottom: 4em
}
.pad-bot5 {
  padding-bottom: 5em
}

.pad-lr12 {
  padding-left: 12em;
  padding-right: 12em
}
.mar-top-m5 {
  margin-top: -5em

}
.mar-top-m9 {
    margin-top: -11em;
    padding-right: 1em;
}

.vid_size {
  margin-top: -5em;
  margin-bottom: -10em;
}

.font-AmsiProCB {
  font-family: 'AmsiProCond-Bold'
}
.font-AmsiProCR {
  font-family: 'AmsiProCond-Regular'
}
.color-white {
  color: #fff
}
.color-pink {
  color: #D2007D
}

.bk-color-sky {
  background-color:rgba(102,184,195, 0.61)
}
.bk-color-blue {
  background-color: #373873
}
.bk-color-blue-green {
  background-color: #008999
}
.bk-color-blue-green-trans {
  background-color: rgba(0,137,153, 0.61)
}
.bk-color-green {
  background-color:#A2CE57
}
.bk-color-gray {
  background: #EBEBEB
}
.bk-color-linkedin {
  background: #0C98C3
}
.bk-color-facebook {
  background: #4666B5
}
.bk-color-twitter {
  background: #53C9FF
}

.glich {
  position: absolute;
  z-index: 999999;
  height: 11.5em;
  width: 100%;
}

.fa-9x {
    font-size: 9em
}

.z1 {
  z-index: 1
}

.in-table {
  display: inline-table;
}
.in-block {
  display: inline-block
}

.my-block h3 {
  color: #fff;
  padding: 1em 0.5em
}

.min-h650 {
  min-height: 650px
}
.vr-r {
  border-right: 3px solid#fff;
}

.btn-pink {
  color: #fff;
  background-color: #D2007D;
  border: 3px solid #D2007D;
  display: inline-block;
  padding: 0.1em 2.5em 0.2em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 35px;
  letter-spacing: 1px;
  background-image: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;  
  }

  .btn-blue {
  color: #fff;
  background-color: #373873;
  border: 3px solid #373873;
  display: inline-block;
  padding: 0.1em 2.5em 0.2em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 35px;
  letter-spacing: 1px;
  background-image: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;  
  }

  .btn-green {
  color: #fff;
  background-color: #ACD36A;
  border: 3px solid #ACD36A;
  display: inline-block;
  padding: 0.1em 2.5em 0.2em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 35px;
  letter-spacing: 1px;
  background-image: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;  
  }

.btn-green:hover {
color: #fff;
}

.btn-white {
  color: #fff;
  background-color: transparent;
  border: 3px solid #fff;
  display: inline-block;
  padding: 0.1em 2.5em 0.2em;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 35px;
  letter-spacing: 1px;
  background-image: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;  
  }

  .btn-chat {
  color: #fff;
  background-color: #D2007D;
  border: 3px solid #D2007D;
  display: inline-block;
  padding: 0.3em 0.5em;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0 0 10px 10px;
  word-spacing: 4px;
  letter-spacing: 1px;
  background-image: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;  
  }


textarea:hover,
textarea:active,
textarea:focus,
button:focus,
button:active,
button:hover,
a:focus,
a:active,
a:hover
{
    outline:0px !important;
    -webkit-appearance:none
}


.btn-mar .btn-pink {
  margin-right: 3em
}
.btn-mar .btn-blue {
  margin-left: 3em
}
.btn3-mar .btn-blue {
  margin: 0 3em
}
.btn3-marg .btn-green {
  margin: 0 3em
}

.btn-pad {
    padding-top: 5em;
    padding-bottom: 4em
}


.modal .close {
  color: #fff;
  opacity: 1
}
.modal-content {
  background-color: transparent;
  box-shadow: none;
  border: none
}
.modal .form-control {
  font-size: 24px;
  border-radius: 0px
}
.modal .form-group {
  margin-bottom: 0px
}
.modal-header {
  border-bottom: none
}

@media (min-width: 768px){
  .modal-dialog {
    width: auto;   
  }  
}
.modal-green .modal-dialog {
  background: rgba(155,205,110,0.8)
  }
.modal-purple .modal-dialog {
  background: rgba(59,19,53,0.8)
}
.modal-blue .modal-dialog {
  background: rgba(67,68,115,0.8)
}
.modal-pink .modal-dialog {
  background: rgba(255,239,230,0.8)
}
.modal-sky .modal-dialog {
  background: rgba(161,211,218,0.8)
}

.modal-header [class*="close"] {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     display: inline-block;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.modal-header:hover [class*="close"] {
  color: #fff !important;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}

.bs-example .modal {
  z-index: 999999;
}

/*How it works - points*/

.howitworks-point{
    font-size: 22px !important;
    color: #ffffff;
    margin-right: 80px;
    margin-top: -86px;
    line-height: 37px;
}
.howitworks-point-dark{
    font-size: 22px;
    color: #64686d;
    margin-left: -15px;
    padding-top: 42px;
    line-height: 37px;
}
.white-font{
    color: #ffffff !important;
}

.submit-button{
    background-color: #41A2AE;
}
/*#support-form .pad-top2 .form-group .col-sm-4{
    width: 33%;
    float: left;
}
#support-form .pad-top2 .form-group .col-sm-6 {
    width: 50%;
    float: left;
}*/
#please-call-me {
    z-index: 99999999;
}
input, button, select, textarea{
    font-family:arial;
}
