/****** Top Header ******/
@media screen and (max-width:767px) {
.top-header {
    padding-right: 0;
    text-align: center;
	}
}
/****** Nav bar ******/
@media screen and (max-width:767px) {
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
    background-image: url("../assets/bar.jpg");
    background-repeat: repeat;
    min-height: 50px;
    z-index: 99999;
    position: relative;
	}
.navbar.navbar-default .navbar-toggle {
    margin-top: 7px;
	}
.navbar-toggle {
    float: none;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 4px;
	}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
	}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #373873;
    background: #373873;
	}
.navbar-default .navbar-nav>li>a {
    color: #fff;
	}
.navbar-default .navbar-nav>li>a:hover {
    color: #ddd;
	}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: greenyellow;
    background-color: transparent;
	}
}
/****** Footer ******/

@media screen and (min-width:431px) and (max-width:767px) {
	#footer {
  		background-image: url("../assets/footer-bg-r.jpg");
  		background-repeat: no-repeat;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		color: #fff;
  		padding-top: 2em;
  		padding-bottom: 0;
  	}
  	.glich {
  		height: 11em;
  	}
}

@media screen and (max-width: 430px) {
	#footer {
  		background-image: url("../assets/footer-bg-r1.jpg");
		background-repeat: no-repeat;
	  	-webkit-background-size: 100%;
	  	-moz-background-size: 100%;
	  	-o-background-size: 100%;
	  	background-size: 100%;
	  	color: #fff;
	  	padding-top: 2em;
	  	padding-bottom: 0;
  	}
}

/******* TOP PART *******/
@media screen and (min-width: 501px) and (max-width: 767px) {
	#top-top h1 {
  		font-size: 40px;
  		padding: 0.2em 0 0.2em 0
	}
}
@media screen and (max-width: 500px) {
	#top-top h1 {
		font-size: 36px;
		padding: 0.1em 0 0.1em 0
	}
}

/******* TOP BENEFITS / index *******/

@media screen and (min-width:569px) and (max-width: 767px) {
	#top-benefits-mid1 {
  		color: #fff;
  		background-image: url("../assets/home/fostering-caring-relationship-r1.png");
  		background-repeat: no-repeat;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		border-top: 3px solid #fff;
  		border-bottom: 3px solid #fff;
	}
}
@media screen and (min-width:320px) and (max-width:568px) {
	#top-benefits-mid1 {
  		color: #fff;
  		background-image: url("../assets/home/fostering-caring-relationship-r568.jpg");
  		background-repeat: no-repeat;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		border-top: 3px solid #fff;
  		border-bottom: 3px solid #fff;
	}
}
@media screen and (min-width:569px) and (max-width:767px) {
#top-benefits-mid1 {
  	min-height: 325px;
	}
}
@media screen and (min-width:555px) and (max-width:568px) {
#top-benefits-mid1 {
  	min-height: 370px;
	}
}
@media screen and (min-width:501px) and (max-width:554px) {
#top-benefits-mid1 {
  	min-height: 270px;
	}
}
@media screen and (min-width:320px) and (max-width:500px) {
#top-benefits-mid1 {
  	min-height: 210px;
	}
}
@media screen and (min-width:768px) and (max-width:991px) {
	#top-benefits-mid1 {
  		color: #fff;
  		background-image: url("../assets/home/fostering-caring-relationship-r.png");
  		background-repeat: no-repeat;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		min-height: 500px;
  		border-top: 3px solid #fff;
  		border-bottom: 3px solid #fff;
	}
}

@media screen and (min-width:1251px) and (max-width:1360px) {
	#top-benefits-mid1 {
  		min-height: 440px;
	}
}
@media screen and (min-width:801px) and (max-width:1250px) {
	#top-benefits-mid1 {
  		min-height: 360px;
	}
}
@media screen and (min-width:768px) and (max-width:800px) {
	#top-benefits-mid1 {
  		min-height: 345px;
	}
}
@media screen and (min-width:768px) and (max-width:1360px) {
#top-benefits-mid1 .dropdown a > h1 {
    font-size: 30px;
	}
}
@media screen and (min-width:569px) and (max-width:767px) {
	#top-benefits-mid1 .pad-top10 {
		padding-top: 0;
	}
	#top-benefits-mid1 .dropdown a > h1 {
    font-size: 30px;
	}
	#top-benefits-mid1 .mar-top-m9 {
    margin-top: -6em;
	}
}
@media screen and (max-width:568px) {
	#top-benefits-mid1 .pad-top10 {
		padding-top: 0;
	}
	#top-benefits-mid1 .dropdown a > h1 {
    font-size: 20px;
	}
	#top-benefits-mid1 .dropdown a > h1 > span {
    font-size: 16px;
	}
	#top-benefits-mid1 .mar-top-m9 {
    margin-top: -6em;
	}
}
/*@media screen and (min-width:401px) and (max-width:600px) {
	#top-benefits-mid1 .pad-top10 {
		padding-top: 7em;
	}
}
@media screen and (max-width:400px) {
	#top-benefits-mid1 .pad-top10 {
		padding-top: 3em;
	}
}*/

@media screen and (min-width:768px) and (max-width:1200px) {
#top-benefits-mid2 .dropdown a > h1 {
    font-size: 24px;
	}
#top-benefits-mid2 .dropdown .mar-top-m9 {
    margin-top: -4em;
	}
}

@media screen and (min-width:569px) and (max-width:767px) {
	#top-benefits-mid2 #revenue .z1 {
    padding-top: 0;
	}
	#appreciated .z1 {
    padding-top: 0;
	}
	#top-benefits-mid2 .dropdown a > h1 {
    font-size: 30px;
	}
	#top-benefits-mid2 .mar-top-m9 {
    margin-top: -6em;
	}
}
@media screen and (max-width:568px) {
	#top-benefits-mid2 #revenue .z1 {
    padding-top: 0;
	}
	#appreciated .z1 {
    padding-top: 0;
	}
	#top-benefits-mid2 .dropdown a > h1 {
    font-size: 20px;
	}
	#top-benefits-mid2 .dropdown a > h1 > span {
    font-size: 16px;
	}
	#top-benefits-mid2 .mar-top-m9 {
    margin-top: -6em;
	}
}


@media screen and (max-width:767px) {
#top-benefits-mid2 .vr-r {
    border-right: 0px solid#fff;
    border-bottom: 3px solid#fff;
	}
}

@media screen and (min-width:1201px) and (max-width:1360px) {
	#mid2-img1, #mid2-img2 {
  		min-height: 350px;
	}
}
@media screen and (min-width:992px) and (max-width:1200px) {
	#mid2-img1, #mid2-img2 {
  		min-height: 280px;
	}
}
@media screen and (min-width:768px) and (max-width:991px) {
	#mid2-img1, #mid2-img2 {
  		min-height: 220px;
	}
}

@media screen and (min-width:569px) and (max-width:767px) {
	#mid2-img1 {
  background-image: url("../assets/home/dental-practices-r.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 295px
	}
}
@media screen and (max-width:568px) {
	#mid2-img1 {
  background-image: url("../assets/home/dental-practices-r568.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 290px;
	}
}
@media screen and (min-width:320px) and (max-width:500px) {
	#mid2-img1 {
  		min-height: 180px;
	}
}

@media screen and (min-width:569px) and (max-width:767px) {
	#mid2-img2 {
  background-image: url("../assets/home/amazing-patients-r1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 345px
	}
}
@media screen and (max-width:568px) {
	#mid2-img2 {
  background-image: url("../assets/home/amazing-patients-r568.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 290px
	}
}
@media screen and (min-width:320px) and (max-width:500px) {
	#mid2-img2 {
  		min-height: 180px;
	}
}


/******* Top Benefits Connecting / scheduling*******/

@media screen and (max-width: 991px) {
	#tb-connecting-mid1 h1 {
	    font-size: 40px;
	}
}
@media screen and (max-width: 991px) {
	#tb-connecting-mid1 .pad-top5 {
		padding-top: 0.7em;
	}
}
@media screen and (min-width:992px) and (max-width:1100px) {
	#tb-connecting-mid1 .pad-top5 {
		padding-top: 2em;
	}
}
@media screen and (max-width: 680px) {
	#tb-connecting-mid1 h1 {
    font-size: 32px;
}
	#tb-connecting-mid1 h3 {
    font-size: 16px;
	}
}
@media screen and (min-width:1231px) and (max-width:1360px) {
	#tb-connecting-mid1 {
		min-height: 400px
	}
}
@media screen and (min-width:1101px) and (max-width:1230px) {
	#tb-connecting-mid1 {
		min-height: 360px
	}
}
@media screen and (min-width:992px) and (max-width:1100px) {
	#tb-connecting-mid1 {
		min-height: 325px
	}
}
@media screen and (min-width:768px) and (max-width:991px) {
	#tb-connecting-mid1 {
		min-height: 250px
	}
}
@media screen and (max-width: 767px) {
	#tb-connecting-mid1 {
  		background-image: url("../assets/home/appreciado-connecting-r.jpg");
  		background-repeat: no-repeat;
  		z-index: 999999;
  		position: relative;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		min-height: 200px
	}
}

@media screen and (max-width: 550px) {
	#tb-connecting-mid1 {
  		background-image: url("../assets/home/appreciado-connecting-r1.jpg");
  		background-repeat: no-repeat;
  		z-index: 999999;
  		position: relative;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		min-height: 200px
	}
}

@media screen and (max-width: 375px) {
	#tb-connecting-mid1 .pad-top5 {
		padding-top: 0.2em;
	}
	#tb-connecting-mid1 h1 {
	    font-size: 24px;
	    margin-top: 10px;
	}
	#tb-connecting-mid1 h3 {
	    font-size: 16px;
	    margin-top: 10px;
	}
}

@media screen and (max-width: 800px) {
#tb-connecting-mid2 h1 {
    font-size: 56px;
	}
}
@media screen and (max-width: 767px) {
#tb-connecting-mid2 h1 {
    text-align: center;
	}
}

@media screen and (min-width:1191px) and (max-width:1340px) {
#tb-connecting-mid2 .caption {
    padding: 10em 0 14em 2em;
	}
}
@media screen and (min-width:1020px) and (max-width:1190px) {
#tb-connecting-mid2 .caption {
    padding: 10em 0 11em 2em;
	}
}
@media screen and (max-width: 991px) {
#tb-connecting-mid4 h2 {
    font-size: 24px;
	}
#tb-connecting-mid4	h3 {
    font-size: 18px;
	}
}
@media screen and (min-width:992px) and (max-width:1360px) {
#tb-connecting-mid4 .pad-top13 {
    padding-top: 7em;
	}
}
@media screen and (min-width:851px) and (max-width:991px) {
#tb-connecting-mid4 .pad-top13 {
    padding-top: 4em;
	}
}
@media screen and (min-width:768px) and (max-width:850px) {
#tb-connecting-mid4 .pad-top13 {
    padding-top: 2em;
	}
}
@media screen and (max-width:500px) {
#tb-connecting-mid4 .pad-top13 {
    padding-top: 6em;
	}
}
@media screen and (min-width:1201px) and (max-width:1360px) {
#connect-mid4-img1, #connect-mid4-img2, #connect-mid4-img3 {
    min-height: 375px;
	}
}
@media screen and (min-width:992px) and (max-width:1200px) {
#connect-mid4-img1, #connect-mid4-img2, #connect-mid4-img3 {
    min-height: 300px;
	}
}
@media screen and (min-width:891px) and (max-width:991px) {
#connect-mid4-img1, #connect-mid4-img2, #connect-mid4-img3 {
    min-height: 275px;
	}
}
@media screen and (min-width:841px) and (max-width:890px) {
#connect-mid4-img1, #connect-mid4-img2, #connect-mid4-img3 {
    min-height: 260px ;
	}
}
@media screen and (min-width:768px) and (max-width:840px) {
#connect-mid4-img1, #connect-mid4-img2, #connect-mid4-img3 {
    min-height: 235px ;
	}
}
@media screen and (max-width:500px) {
#connect-mid4-img1, #connect-mid4-img2, #connect-mid4-img3 {
    min-height: 270px ;
	}
}

@media screen and (max-width:767px) {
#tb-connecting-mid4 #tb-connecting-mid4-p1 h2, #tb-connecting-mid4 #tb-connecting-mid4-p2 h2, #tb-connecting-mid4 #tb-connecting-mid4-p3 h2 {
    margin-bottom: 0px;
	}
}
/******* Top Benefits Growing / Dentist*******/

@media screen and (max-width: 991px) {
	#tb-growing-mid1 h1 {
	    font-size: 40px;
	}
}
@media screen and (max-width: 991px) {
	#tb-growing-mid1 .pad-top5 {
		padding-top: 0.7em;
	}
}
@media screen and (min-width:992px) and (max-width:1100px) {
	#tb-growing-mid1 .pad-top5 {
		padding-top: 2em;
	}
}
@media screen and (max-width:500px) {
#tb-growing-mid4 .pad-top13 {
    padding-top: 6em;
	}
}
@media screen and (max-width: 680px) {
	#tb-growing-mid1 h1 {
    font-size: 32px;
}
#tb-growing-mid1 h3 {
    font-size: 16px;
	}
}
@media screen and (min-width:1231px) and (max-width:1360px) {
	#tb-growing-mid1 {
		min-height: 400px
	}
}
@media screen and (min-width:1101px) and (max-width:1230px) {
	#tb-growing-mid1 {
		min-height: 360px
	}
}
@media screen and (min-width:992px) and (max-width:1100px) {
	#tb-growing-mid1 {
		min-height: 325px
	}
}
@media screen and (min-width:768px) and (max-width:991px) {
	#tb-growing-mid1 {
		min-height: 250px
	}
}
@media screen and (max-width: 767px) {
	#tb-growing-mid1 {
  		background-image: url("../assets/home/dental-practices-grow-r.jpg");
  		background-repeat: no-repeat;
  		z-index: 999999;
  		position: relative;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		min-height: 200px
	}
}

@media screen and (max-width: 550px) {
	#tb-growing-mid1 {
  		background-image: url("../assets/home/dental-practices-grow-r1.jpg");
  		background-repeat: no-repeat;
  		z-index: 999999;
  		position: relative;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		min-height: 200px
	}
}

@media screen and (max-width: 375px) {
	#tb-growing-mid1 .pad-top5 {
		padding-top: 0.2em;
	}
	#tb-growing-mid1 h1 {
	    font-size: 24px;
	    margin-top: 10px;
	}
	#tb-growing-mid1 h3 {
	    font-size: 16px;
	    margin-top: 10px;
	}
}

@media screen and (max-width: 800px) {
#tb-growing-mid2 h1 {
    font-size: 56px;
	}
}
@media screen and (max-width: 991px) {
#tb-growing-mid4 h2 {
    font-size: 24px;
	}
#tb-growing-mid4 h3 {
    font-size: 18px;
	}
}
@media screen and (min-width:992px) and (max-width:1360px) {
#tb-growing-mid4 .pad-top13 {
    padding-top: 7em;
	}
}
@media screen and (min-width:851px) and (max-width:991px) {
#tb-growing-mid4 .pad-top13 {
    padding-top: 4em;
	}
}
@media screen and (min-width:768px) and (max-width:850px) {
#tb-growing-mid4 .pad-top13 {
    padding-top: 2em;
	}
}
@media screen and (min-width:1201px) and (max-width:1360px) {
#grow-mid4-img1, #grow-mid4-img2, #grow-mid4-img3 {
    min-height: 375px;
	}
}
@media screen and (min-width:992px) and (max-width:1200px) {
#grow-mid4-img1, #grow-mid4-img2, #grow-mid4-img3 {
    min-height: 300px;
	}
}
@media screen and (min-width:891px) and (max-width:991px) {
#grow-mid4-img1, #grow-mid4-img2, #grow-mid4-img3 {
    min-height: 275px;
	}
}
@media screen and (min-width:841px) and (max-width:890px) {
#grow-mid4-img1, #grow-mid4-img2, #grow-mid4-img3 {
    min-height: 260px ;
	}
}
@media screen and (min-width:768px) and (max-width:840px) {
#grow-mid4-img1, #grow-mid4-img2, #grow-mid4-img3 {
    min-height: 235px ;
	}
}
@media screen and (max-width:500px) {
#grow-mid4-img1, #grow-mid4-img2, #grow-mid4-img3 {
    min-height: 270px ;
	}
}

@media screen and (max-width:767px) {
#tb-growing-mid4 #tb-growing-mid4-p1 h2, #tb-growing-mid4 #tb-growing-mid4-p2 h2, #tb-growing-mid4 #tb-growing-mid4-p3 h2 {
    margin-bottom: 0px;
	}
}

/******* Top Benefits Rewarding / Patients*******/

@media screen and (max-width: 991px) {
	#tb-rewarding-mid1 h1 {
	    font-size: 40px;
	}
}
@media screen and (max-width: 991px) {
	#tb-rewarding-mid1 .pad-top5 {
		padding-top: 1em;
	}
}
@media screen and (max-width:500px) {
#tb-rewarding-mid4 .pad-top13 {
    padding-top: 6em;
	}
}
@media screen and (max-width: 680px) {
	#tb-rewarding-mid1 h1 {
    font-size: 32px;
}
#tb-rewarding-mid1 h3 {
    font-size: 16px;
	}
}
@media screen and (min-width:1231px) and (max-width:1360px) {
	#tb-rewarding-mid1 {
		min-height: 450px
	}
}
@media screen and (min-width:1101px) and (max-width:1230px) {
	#tb-rewarding-mid1 {
		min-height: 400px
	}
}
@media screen and (min-width:992px) and (max-width:1100px) {
	#tb-rewarding-mid1 {
		min-height: 360px
	}
}
@media screen and (min-width:768px) and (max-width:991px) {
	#tb-rewarding-mid1 {
		min-height: 280px
	}
}
@media screen and (max-width: 767px) {
	#tb-rewarding-mid1 {
  		background-image: url("../assets/home/appreciado-rewarding-r.jpg");
  		background-repeat: no-repeat;
  		z-index: 999999;
  		position: relative;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		min-height: 200px
	}
}

@media screen and (max-width: 550px) {
	#tb-rewarding-mid1 {
  		background-image: url("../assets/home/appreciado-rewarding-r1.jpg");
  		background-repeat: no-repeat;
  		z-index: 999999;
  		position: relative;
  		-webkit-background-size: 100%;
  		-moz-background-size: 100%;
  		-o-background-size: 100%;
  		background-size: 100%;
  		min-height: 200px
	}
}

@media screen and (max-width: 375px) {
	#tb-rewarding-mid1 .pad-top5 {
		padding-top: 0.2em;
	}
	#tb-rewarding-mid1 h1 {
	    font-size: 24px;
	    margin-top: 10px;
	}
	#tb-rewarding-mid1 h3 {
	    font-size: 16px;
	    margin-top: 10px;
	}
}

@media screen and (max-width: 800px) {
#tb-rewarding-mid2 h1 {
    font-size: 56px;
	}
}
@media screen and (max-width: 991px) {
#tb-rewarding-mid4 h2 {
    font-size: 24px;
	}
#tb-rewarding-mid4 h3 {
    font-size: 18px;
	}
}
@media screen and (min-width:992px) and (max-width:1200px) {
#tb-rewarding-mid4 .pad-top13 {
    padding-top: 8em;
	}
}
@media screen and (min-width:851px) and (max-width:991px) {
#tb-rewarding-mid4 .pad-top13 {
    padding-top: 6em;
	}
}
@media screen and (min-width:768px) and (max-width:850px) {
#tb-rewarding-mid4 .pad-top13 {
    padding-top: 4em;
	}
}
@media screen and (min-width:1201px) and (max-width:1360px) {
#reward-mid4-img1, #reward-mid4-img2, #reward-mid4-img3 {
    min-height: 375px;
	}
}
@media screen and (min-width:992px) and (max-width:1200px) {
#reward-mid4-img1, #reward-mid4-img2, #reward-mid4-img3 {
    min-height: 300px;
	}
}
@media screen and (min-width:891px) and (max-width:991px) {
#reward-mid4-img1, #reward-mid4-img2, #reward-mid4-img3 {
    min-height: 275px;
	}
}
@media screen and (min-width:841px) and (max-width:890px) {
#reward-mid4-img1, #reward-mid4-img2, #reward-mid4-img3 {
    min-height: 260px ;
	}
}
@media screen and (min-width:768px) and (max-width:840px) {
#reward-mid4-img1, #reward-mid4-img2, #reward-mid4-img3 {
    min-height: 235px ;
	}
}
@media screen and (max-width:500px) {
#reward-mid4-img1, #reward-mid4-img2, #reward-mid4-img3 {
    min-height: 270px ;
	}
}

@media screen and (max-width:767px) {
#tb-rewarding-mid4 #tb-rewarding-mid4-p1 h2, #tb-rewarding-mid4 #tb-rewarding-mid4-p2 h2, #tb-rewarding-mid4 #tb-rewarding-mid4-p3 h2 {
    margin-bottom: 0px;
	}
}

/******* ABOUT *******/
@media screen and (max-width: 910px) {
	#about-mid1 h3 {
    	font-size: 20px;
	}
}
@media screen and (max-width: 767px) {
#about-mid1 h3 {
    font-size: 13px;
	}
}
@media screen and (max-width: 910px) {
	#about-mid1 .min-h650 {
    	min-height: 450px;
	}
}
/******** Team ********/
@media screen and (max-width: 767px) {
	#team-about h1 {
		text-align: center;
		line-height: 1.5;
		}
	#team-about p {
		font-size: 14px; 
		line-height: 1.4;
	}
}
/******* SUPPORT *******/
@media screen and (max-width: 767px) {
	#support-form h4 {
  		font-size: 10px;
	}
	#support-form .form-control {
	   /* height: 24px;*/
	    padding: 3px 6px;
	    font-size: 12px;
	    border: 1px solid #41A2AE;
	}
	.checkbox-inline {
    	display: inline-block;
    	padding-left: 10px; 
    	margin-top: -10px;
	}
	.checkbox-inline+.checkbox-inline {
    	margin-top: 0;
    	margin-left: 0px;
    	margin-top: -10px;
	}
}

/******* Terms *******/
@media screen and (max-width: 767px) {
#terms .pad-top2 {
	padding-top: 0;
	}
}

/******* General *******/
@media screen and (max-width: 991px) {
	.vid_size {
    margin-top: -2em;
    margin-bottom: -4em;
	}
}

@media screen and (max-width: 500px) {
	h3 {
		font-size: 16px;
		font-weight: 600;
	}
	h4 {
		font-size: 14px;
	}
}
@media screen and (min-width: 501px) and (max-width: 767px) {
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
}

@media screen and (max-width: 767px) {
	.btn-pink {
    padding: 0.1em 1.5em 0.2em;
    margin-bottom: 0;
    font-size: 14px;
	}
}
